# 1- PREAMBULE

In [146]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import calendar
from dateutil.relativedelta import relativedelta
from unidecode import unidecode # to remove accents in strings
from math import nan, isnan

# 2-NUMBER OF EMPLOYEES DATA: importing and cleanning data

In [2]:
def f_employ(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month=[];year=[];days_length=[]
        for i in ddates:#dd.Date.tolist():
            month.append(Sdate[i[0:3]])
            year.append(int(i[-4:]))

        days_length=[];date=[]
        for j in range(0,len(month)):
            days_length.append(calendar.monthrange(year[j],month[j])[1])
            date.append(datetime(year[j],month[j],days_length[j]).strftime('%Y-%m-%d'))

        return date
    df.Date=date_identify()
    
    return df

In [3]:
def f_employ2(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
            if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
                month_end.append(Sdate[i])
                year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01'    
        date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_end.tolist()
        #date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        period=pd.date_range(date_first,date_end,freq='Q').tolist()
        period.append(period[len(period)-1]+relativedelta(months=3))
        return period
    df.Date=date_identify()
    return df#ate_end#[0]+relativedelta(months=1)

In [4]:
def f_employ3(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
           # if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
            #    month_end.append(Sdate[i])
             #   year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01' # build first observation date as YYYY-mm-dd
        date_first=datetime.strptime(date_first,'%Y-%m-%d') # convert date to timedate type
        date_range=[date_first]
        for i in range(0,df.shape[0]-1):
            date_range.append(date_range[i]+relativedelta(months=3))
        #date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_first
        ##date_end=date_end.tolist()
        ##date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        #period=pd.date_range(date_first,date_end,freq='Q').tolist()
        #period.append(period[len(period)-1]+relativedelta(months=3))
        return date_range#period
    df.Date=date_identify()
    return df#date_identify()#ate_end#[0]+relativedelta(months=1)

### Arranging cleanning data in three columns: Date,Banks, Indicator

In [5]:
def group_data(x,fun): # function to group data of a variable by bank
    df=fun(x)          # x is a data frame of and indicator, where the dates are in the first column and each bank is a column of the indicator
    dfs=df.columns[1:] # list of columns, except the dates
    date=[];values=[];banks=[]
    for d in range(0,len(dfs)):
        date.append(df.Date)
        values.append((df[dfs[d]]))
        banks.append([dfs[d]]*df.shape[0])
    def flatten_list(x): # function to flatten a list of lists to 
        y=[]
        for i in x:
            for j in i:
                y.append(j)
        return y
    date=flatten_list(date)
    values=flatten_list(values)
    banks=flatten_list(banks)
    df=pd.DataFrame({'Date':date,'Banks':banks,'Indicator':values})
    return df

### Creating the list of Excel files containing the reports

In [140]:
# list of Excel files names
df_files=pd.read_csv('BRH_ExcelFiles.csv')
filesList=df_files.x.tolist()
filesList[0:5]  # show the first five files names

['trim_1_2022.xlsx',
 'trim_1_2019.xls',
 'trim_1_2020.xls',
 'trim_1_2021.xlsx',
 'trim_2_2019.xls']

### A Function to import and combine data

In this section all data related to the number of employees are imported and combined in one data frame named *df_employees*.

In [7]:
def f_combine(x,fun): # x is the list of files names; fun is the function that import and clean data
    df=pd.DataFrame(columns=['Date','Banks','Indicator'])
    for file in x:
        df=pd.merge(df,group_data(file,fun),how='outer')
    return df

In [483]:
df_employees=f_combine(filesList,fun=f_employ3)

In [9]:
df_employees

### Remove duplicated data, using Date column

In [485]:
df_employees1=df_employees.drop_duplicates(subset=["Date", "Banks"])

In [486]:
(df_employees.shape,df_employees1.shape) # compare the dimension of the old and the new data frame

((2007, 3), (1850, 3))

In [487]:
df_employees1

           Date   Banks Indicator
0    2014-12-01     BNC     647.0
1    2015-03-01     BNC     638.0
2    2015-06-01     BNC     636.0
3    2015-09-01     BNC     623.0
4    2015-12-01     BNC     704.0
...         ...     ...       ...
1969 1998-06-01  SOGEBL        61
1970 1998-06-01     BHD        33
1971 1998-06-01    CBNA        65
1972 1998-06-01  SCOTIA        90
1973 1998-06-01   TOTAL      3077

[1850 rows x 3 columns]

### Saving data in CSV files

In [488]:
df_employees.to_csv('BanksEmployees_all.csv',date_format='%Y-%m-%d',index=False)                 # file of all data, including duplicates

In [489]:
df_employees1.to_csv('BanksEmployees_withoutDuplicates.csv',date_format='%Y-%m-%d',index=False)  # file of data, without duplicates

In [490]:
df_emp=pd.read_csv('BanksEmployees_withoutDuplicates.csv')    # a file to update with new data
df_emp.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)

### Function to combine the available data with new quarterly report

In [491]:
def add_employ(newReportFile):
    df_new=group_data(newReportFile,f_employ3)      # importing and cleanning data
    #df_new1=df_new.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df_emp=pd.read_csv('BanksEmployees.csv')        # importing old data before combining with new data
    df=pd.concat([df_emp,df_new],join='inner')
    df.Date=df.Date.tolist()
    df=df.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)
    return df

In [495]:
 add_employ('trim_1_2016.xls') # a test of the function

                     Date  Banks Indicator
0              2014-12-01    BNC     647.0
1              2015-03-01    BNC     638.0
2              2015-06-01    BNC     636.0
3              2015-09-01    BNC     623.0
4              2015-12-01    BNC     704.0
...                   ...    ...       ...
1045  2014-12-01 00:00:00  TOTAL      4288
1046  2015-03-01 00:00:00  TOTAL      4311
1047  2015-06-01 00:00:00  TOTAL      4337
1048  2015-09-01 00:00:00  TOTAL      4377
1049  2015-12-01 00:00:00  TOTAL      4521

[2900 rows x 3 columns]

# 3- BALANCE SHEET DATA: importing and cleanning data

In [156]:
def f_balsheet(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept','SEPT.']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-4:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    if len(year_true)==1:
        year_true='0'+year_true # for years 2001, 2002 and so on, year_true is a string of the last number. This line of code correct it to have zero and the last number of the year.
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
        psn.append('bilsysba'+i+year_true)  # at least in one report the correct sheet name structure is different
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
    
      # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=[]
    for i in range(0,df.shape[0]):
        if 'Dépôts US convertis' in df.loc[i:i,:].values.tolist()[0]:
            endrow_data=i
    df=df.loc[:endrow_data,:] 
    
    # Give names to columns
    def startswith_InList(x,starts): # to verify if there is at least an element of the list of 
    # strings x, starting with the string indicated by starts
        y=[]
        for i in range(0,len(x)):
            if type(x[i])==str and x[i].startswith(starts):
                y=True
                break
        if y==True:
            return True
        else:
            return False
    
    def col_names(df): # 
        
        '''This function look for the index of the row with the names of the banks to be used as columns names. 
            The bank BNC is used to identify this row index, since that bank exist for a long time and is present in
            all quarterly report of the central bank about the financial statistics of the banks.
        '''
        
        #y=[];
        z=[]
        for i in range(0,(df.shape[0]-1)):
            #if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
            if startswith_InList(df.loc[i:i,:].values.tolist()[0],'BNC')==True:
                y=df.loc[i:i,:].values.tolist()[0]
                z=i+1    # defining row to start data frame
                #break
        # add Date as name of column with the dates
        df.columns=['Index','Indicators']+y[2:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,1:] # begin data frame with row z and column of indicators names
        return df
    
    df=col_names(df)
      
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    ####
     #####
    def lower_removeAccentSpacelist(x):# function to lower case and remove accents 
        # and spaces in indicators names - x is a list
        y=[]
        for i in range(0,len(x)):
            y.append(unidecode(str(x[i])).lower().strip())
        return y
    df.Indicators=lower_removeAccentSpacelist(df.Indicators.tolist())
    
    ### Create a column indicating bilance sheets parts
    def balsheet_parts(x,parts1):
    
        def f_grouped1(x,start,until,fill): # x is a list - start is a string positio of the list x where to start repeating the string argument named 'fill', and stop until before the position index of the string argument 'until'.
                h=[]
                for i in range(0,len(x)):
                    if x[i]==start: #lower_removeAccentSpace(i)!=until:
                        for j in range(i,len(x)):
                            if x[j]!=until:
                                h.append(fill)
                            if x[j]==until:
                                break
                return h
        y=[]
        for j in range(0,len(parts1)):
                if (j+1)<len(parts1):
                    y.append(f_grouped1(x=x,start=parts1[j],until=parts1[j+1],fill=parts1[j])) # filled with the same string than the argument 'start'
                elif (j+1)==len(parts1):
                    y.append(f_grouped1(x=x,start=parts1[j],until='',fill=parts1[j]))

        z=[]
        for i in range(0,len(y)):
            for j in range(0,len(y[i])):
                z.append(y[i][j]) 
        return z
    df['Parts1_fr']=balsheet_parts(df.Indicators.tolist(),parts1=['actif','passif','avoir des actionnaires','hors-bilan',
                          'portefeuille brut', 'provisions pour creances douteuses','portefeuille de credit improductif','depots us convertis'])

    df['Parts2_fr']=balsheet_parts(df.Indicators.tolist(),parts1=['actif','disponibilites',
                              'bons b.r.h.','depots', 'obligations a vue','obligations a terme','autres passifs','avoir des actionnaires','hors-bilan','portefeuille brut', 'provisions pour creances douteuses','portefeuille de credit improductif',
 'depots us convertis'])
#################################
    def fparts1_en(): # translation in English
        y=[]
        for i in df.Parts1_fr.tolist():
            if i=='actif':
                y.append('Asset')
            elif i=='passif':
                y.append('Liability')
            elif i=='avoir des actionnaires':
                y.append('Equity')
            elif i=='hors-bilan':
                y.append('Off-balance sheet')
            elif i=='portefeuille brut':
                y.append('Loan portfolio')
            elif i=='provisions pour creances douteuses':
                y.append('Allowance for bad debts')
            elif i=='portefeuille de credit improductif':
                y.append('Non performing loan')
            elif i=='depots us convertis':
                y.append('Deposit in US converted in HTG')
        return y
    df['Parts1_en']=fparts1_en() # write parts1 elements in English
    
###############
    def fparts2_en(): # translation in English
        y=[]
        for i in df.Parts2_fr.tolist():
            if i=='actif':
                y.append('Liquid asset')
            elif i=='disponibilites':
                y.append('Liquid asset')
            elif i=='bons b.r.h.':
                y.append('Non-liquid asset')
            elif i=='depots':
                y.append('Deposit')
            elif i=='obligations a vue':
                y.append('Demand bonds')
            elif i=='obligations a terme':
                y.append('Term bonds')
            elif i=='autres passifs':
                y.append('Other liabilities')
            elif i=='avoir des actionnaires':
                y.append('Equity')
            elif i=='hors-bilan':
                y.append('Off-balance sheet')
            elif i=='portefeuille brut':
                y.append('Loan portfolio')
            elif i=='provisions pour creances douteuses':
                y.append('Allowance for bad debts')
            elif i=='portefeuille de credit improductif':
                y.append('Non performing loan')
            elif i=='depots us convertis':
                y.append('Deposit in US converted in HTG')
        return y
    df['Parts2_en']=fparts2_en() # write parts2 elements in English
    
    def fparts2_fr(): # rewrite, with uppercase and accents parts2_fr elements
        y=[]
        for i in df.Parts2_fr.tolist():
            if i=='actif':
                y.append('Actif liquide')
            elif i=='disponibilites':
                y.append('Actif liquide')
            elif i=='bons b.r.h.':
                y.append('Actif illiquide')
            elif i=='depots':
                y.append('Dépôt')
            elif i=='obligations a vue':
                y.append('Obligations à vue')
            elif i=='obligations a terme':
                y.append('Obligations à terme')
            elif i=='autres passifs':
                y.append('Autres passifs')
            elif i=='avoir des actionnaires':
                y.append('Fonds propres')
            elif i=='hors-bilan':
                y.append('Hors-bilan')
            elif i=='portefeuille brut':
                y.append('Portefeuille de crédit')
            elif i=='provisions pour creances douteuses':
                y.append('Provisions pour créances douteuses')
            elif i=='portefeuille de credit improductif':
                y.append('Portefeuille de crédit improductif')
            elif i=='depots us convertis':
                y.append('Dépôts en USD convertis en HTG')
        return y
    df['Parts2_fr']=fparts2_fr()
    
    def fparts1_fr(): # rewrite, with uppercase and accents parts2_fr elements
        y=[]
        for i in df.Parts1_fr.tolist():
            if i=='actif':
                y.append('Actif')
            elif i=='passif':
                y.append('Passif')
            elif i=='avoir des actionnaires':
                y.append('Fonds propres')
            elif i=='hors-bilan':
                y.append('Hors-bilan')
            elif i=='portefeuille brut':
                y.append('Portefeuille de crédit')
            elif i=='provisions pour creances douteuses':
                y.append('Provisions pour créances douteuses')
            elif i=='portefeuille de credit improductif':
                y.append('Portefeuille de crédit improductif')
            elif i=='depots us convertis':
                y.append('Dépôts en USD convertis en HTG')
        return y
    df['Parts1_fr']=fparts1_fr()
    
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    df=df.reset_index() # reset index
     #########################
    def remove_rowsWithoutIndicatorName(x): # x is a data frames remove row that do not have indicator name - indeed, they are totals
        y_ind=[]
        for i in range(0,len(x.Indicators)):
            if x.Indicators[i]=='nan':
                y_ind.append(False)
            elif x.Indicators[i].strip()=='':
                y_ind.append(False)
             # remove row where indicator titles are: passifs, obligations a vue, obligations a terme (those row are part title and do not have any data.
            elif x.Indicators[i].strip()=='passifs':
                y_ind.append(False)
            elif x.Indicators[i].strip()=='passif':
                y_ind.append(False)
            elif x.Indicators[i].strip()=='depots':
                y_ind.append(False)
            elif x.Indicators[i].strip()=='obligations a vue':
                y_ind.append(False)
            elif x.Indicators[i].strip()=='obligations a terme':
                y_ind.append(False)
            elif x.Indicators[i].strip()=='avoir des actionnaires':
                y_ind.append(False)
                
            else:
                y_ind.append(True)

        return x[y_ind]

    df=remove_rowsWithoutIndicatorName(df)
    df=df.reset_index()
    #######################
    # remove columns of subtotal, since they are several with the same name "SOUS-TOTAL"
    u=[i.startswith('SOUS') for i in df.columns] # identifying the columns where name starts with 'SOUS'
    y=[]  # list of columns names, except those starting with the string 'SOUS'
    for i in range(0,len(u)):
        if u[i]==False:
                   y.append(df.columns[i])
    df=df[y]
    #############################
    # for most of the reports, the total amount of an indicator for the whole banking system is indicating
    # by the column name 'SYSTÈME'. However, for the first reports, this column name is 'TOTAL'. I want to have
    # TOTAL as name for this column for whatever the period considered. It is necessary to have the same name, 
    # since I will have to concatanate all data frames of the balance sheet.
    df.columns=[col.replace('SYSTÈME','TOTAL') for col in df.columns]
    ######################
    # name to identify indicators
    def new_indicatorsNames():
        y=[]
        for i in range(0,len(df.Indicators)):
            y.append(df.Parts2_fr.tolist()[i].replace(' ','_').upper()+'_'+df.Indicators.tolist()[i].replace(' ','_'))
        return y
    df['Indicators']=new_indicatorsNames()
    ##############################
    # add a column indicating the ending month of the report
    def identifyDate(x): # x is the excel data file name
        from datetime import datetime
        Smonth=pd.Series(['3','6','9','12'],index=['2','3','4','1']) # values:months numbers; and index are quarterlies numbers (trim) as indicated by the central bank
        trim=x[5:6]
        if int(trim)==1:
            year=str(int(x[7:11])-1) # the first quarterly of a fiscal year ended in 2021 is the last quarterly in civil year 2020
        else:
            year=x[7:11]
        # identify month of the end of the quarterly:

        date_=datetime.strptime(year+'-'+Smonth[trim]+'-'+'01','%Y-%m-%d') # convert date to datetime format
        return date_
    df['Date']=identifyDate(x)
    return df.iloc[:,2:]

In [157]:
f_balsheet('trim_1_2000.xls').head(2)

,Indicators,BICH,BNC,BPH,BUH,CAPITALBK,PROMOBK,SOCABK,SOGEBK,UNIBNK,BHD,SOGEBL,CBNA,SCOTIA,TOTAL,Parts1_fr,Parts2_fr,Parts1_en,Parts2_en,Date
0,ACTIF_LIQUIDE_encaisse,384.1,247065,46037.1,250622,63929,85272,91122.4,265332,203597.6,97,12208.8,44938,36100,1346705.0,Actif,Actif liquide,Asset,Liquid asset,1999-12-01
1,ACTIF_LIQUIDE_avoirs_a_la_brh,4060.5,371963,160218.3,235553,117712,271439,482100.1,1060879,538430.2,2611.8,66232.7,318347,249258,3878804.6,Actif,Actif liquide,Asset,Liquid asset,1999-12-01

### Function to test if the previous one can import and clean data from all files available

In [168]:
def testFunction(fun): 
    ''' Function to test if a function that should import and clean 
        data is successful for any file it intend to import for cleaning data '''
    df_files=pd.read_csv('BRH_ExcelFiles.csv')
    filesList=df_files.x.tolist()
    y=[]
    for f in filesList:
        try:
            fun(f)
            y='The function seems to work well for all files available'
            return y
        except:
            return "The function does not work for the file: {}".format(f)

In [160]:
testFunction(f_balsheet)

'The function seems to work well for file(s) considered'

### Function to combine data frames of balance sheet reports

In [94]:
# list of Excel files names
df_files=pd.read_csv('BRH_ExcelFiles.csv')
filesList=df_files.x.tolist()
filesList[:5]  # show the first five files names

['trim_1_2022.xlsx',
 'trim_1_2019.xls',
 'trim_1_2020.xls',
 'trim_1_2021.xlsx',
 'trim_2_2019.xls']

In [97]:
# def f_combine1(x,fun): # x is the list of files names; fun is the function that import and clean data
#     # set.option(display. max_rows==400)
#     df=pd.DataFrame()
#     for file in x:
#         df=pd.concat([df,fun(file)])
#         df=df.reset_index()
    
#     return df

In [98]:
def f_combine2(x): # x is the list of files names; fun is the function that import and clean data
    # set.option(display. max_rows==400)
    df=pd.DataFrame()
    for file in x:
        df=pd.concat([df,f_balsheet(file)])
        #df=df.reset_index()
    
    return df

Create the data frame that combine all available balance sheet reports

In [99]:
df_balsheet2=f_combine2(filesList)

In [100]:
df_balsheet2.shape

(3086, 22)

Removing duplicated rows

In [102]:
#df_balsheet.drop_duplicates(subset=["Date", "Banks"])
df_balsheet3=df_balsheet2.drop_duplicates()

In [103]:
df_balsheet2.shape,df_balsheet3.shape

((3086, 22), (2789, 22))

### Saving balance sheet data frame in a CSV file

In [106]:
df_balsheet2.to_csv('BalanceSheet.csv',date_format='%Y-%m-%d',index=False)  # file of data, with duplicates

In [107]:
df_balsheet3.to_csv('BalanceSheet_withoutDuplicates.csv',date_format='%Y-%m-%d',index=False)  # file of data, without duplicates

### Function to add new balance sheet to the data frame

In [88]:
def add_balanceSheet(newReportFile):
    df=pd.concat([df_balsheet2,f_balsheet(newReportFile)])      # importing, cleanning and merging data
    df=df.drop_duplicates() # droping duplicated data, by Date and Banks
    # df.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)
    
    return df

In [89]:
add_balanceSheet('trim_2_2020.xlsx').shape

(2789, 22)

# 4- INCOME STATEMENT DATA: importing and cleanning data

In this section, I will import and clean data to obtain a well structured data frame of income statements for available data, from the central bank.

### Function to import, clean and structure income statements of all banks for a quarterly

In [26]:
' dl '.strip()

'dl'

In [165]:
def f_income(x):
    import pandas as pd
   
    df=pd.read_excel(x,sheet_name='RÉSULTsyst  ')
    
      # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=[]
    for i in range(0,df.shape[0]):
        if 'BÉNÉFICE NET (PERTE NETTE)' in df.loc[i:i,:].values.tolist()[0]:
            endrow_data=i
    df=df.loc[:endrow_data,:] 
    '''Since there are current and past income statement in the same sheet 
        I should remove the last line with 'BÉNÉFICE NET (PERTE NETTE)' and stop the data frame at row with the string
        'BÉNÉFICE NET (PERTE NETTE)' to have only the first income statement of the sheet which is the current report
        for the quarterly indicated in the name of the excel file.
        '''
    df=df.loc[:(df.shape[0]-2),:]
    endrow_data=[]
    for i in range(0,df.shape[0]):
        if 'BÉNÉFICE NET (PERTE NETTE)' in df.loc[i:i,:].values.tolist()[0]:
            endrow_data=i
    df=df.loc[:endrow_data,:] 
    
    ######################333
     # Give names to columns
    def startswith_InList(x,starts): # to verify if there is at least an element of the list of 
    # strings x, starting with the string indicated by starts
        y=[]
        for i in range(0,len(x)):
            if type(x[i])==str and x[i].startswith(starts):
                y=True
                break
        if y==True:
            return True
        else:
            return False
    
    def col_names(df): # 
        '''This function look for the index of the row with the names of the banks to be used as columns names. 
            The bank BNC is used to identify this row index, since that bank exist for a long time and is present in
            all quarterly report of the central bank about the financial statistics of the banks.
        '''
        
        #y=[];
        z=[]
        for i in range(0,(df.shape[0]-1)):
            #if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
            if startswith_InList(df.loc[i:i,:].values.tolist()[0],'BNC')==True:
                y=df.loc[i:i,:].values.tolist()[0]
                z=i+1    # defining row to start data frame
                #break
        # add Date as name of column with the dates
        df.columns=['Index','Indicators']+y[2:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,1:] # begin data frame with row z and column of indicators names
        return df
    
    df=col_names(df)
    ###########################
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    ####
     #####
    def lower_removeAccentSpacelist(x):# function to lower case and remove accents 
        # and spaces in indicators names - x is a list
        y=[]
        for i in range(0,len(x)):
            y.append(unidecode(str(x[i])).lower().strip())
        return y
    df.Indicators=lower_removeAccentSpacelist(df.Indicators.tolist())
   ######################
    df=df.reset_index()
    row_start=df.Indicators.tolist().index("revenus nets d'interet")
    df=df.loc[row_start:,:]
    ##########################################
    
    ### Create a column indicating income statement parts
    def income_parts(x,parts1):
    
        def f_grouped1(x,start,until,fill): # x is a list - start is a string positio of the list x where to start repeating the string argument named 'fill', and stop until before the position index of the string argument 'until'.
                h=[]
                for i in range(0,len(x)):
                    if x[i]==start: #lower_removeAccentSpace(i)!=until:
                        for j in range(i,len(x)):
                            if x[j]!=until:
                                h.append(fill)
                            if x[j]==until:
                                break
                return h
        y=[]
        for j in range(0,len(parts1)):
                if (j+1)<len(parts1):
                    y.append(f_grouped1(x=x,start=parts1[j],until=parts1[j+1],fill=parts1[j])) # filled with the same string than the argument 'start'
                elif (j+1)==len(parts1):
                    y.append(f_grouped1(x=x,start=parts1[j],until='',fill=parts1[j]))

        z=[]
        for i in range(0,len(y)):
            for j in range(0,len(y[i])):
                z.append(y[i][j]) 
        return z
    df['Parts1_fr']=income_parts(df.Indicators.tolist(),parts1=["revenus nets d'interet", 'autres revenus','produit net bancaire',
                                'dotation a la provision pour creances douteuses', 'et impots sur le revenu', "depenses d'exploitation", 
                                    'benefice avant impots sur le revenu','impots sur le revenu','benefice net (perte nette)'])

    df['Parts2_fr']=income_parts(df.Indicators.tolist(),parts1=["revenus nets d'interet","revenus d'interet","depenses d'interet",
                                            'autres revenus','produit net bancaire', 'dotation a la provision pour creances douteuses', 
                                            "benefice avant depenses d'exploitation",'et impots sur le revenu',"depenses d'exploitation",
 'benefice avant impots sur le revenu','impots sur le revenu','benefice net (perte nette)'])
#################################
    def fparts1_en(): # translation in English
        y=[]
        for i in df.Parts1_fr.tolist():
            if i=="revenus nets d'interet":
                y.append('Net interest income')
            elif i=='autres revenus':
                y.append('Other income')
            elif i=='produit net bancaire':
                y.append('Net banking income')
            elif i=='dotation a la provision pour creances douteuses':
                y.append('Allowance for bad debts')
            elif i=='et impots sur le revenu':
                y.append('Earnings before operating expenses and income tax')
            elif i== "depenses d'exploitation":
                y.append('Operating expenses')
            elif i=='benefice avant impots sur le revenu':
                y.append('Profit before income tax')
            elif i=='impots sur le revenu':
                y.append('Income taxes')
            elif i=='benefice net (perte nette)':
                y.append("Net profit (loss)")
           
        return y
    df['Parts1_en']=fparts1_en() # write parts1 elements in English
    #################################
    def fparts2_en(): # translation in English
        y=[]
        for i in df.Parts2_fr.tolist():
            if i=="revenus nets d'interet":
                y.append('Net interest income')
            elif i=="revenus d'interet":
                y.append('Interest income')
            elif i=="depenses d'interet":
                y.append('Interest expenses')
            elif i=='autres revenus':
                y.append('Other income')
            elif i=='produit net bancaire':
                y.append('Net banking income')
            elif i=='dotation a la provision pour creances douteuses':
                y.append('Allowance for bad debts')
            elif i=="benefice avant depenses d'exploitation":
                y.append('Earning before operating expenses')
            elif i=='et impots sur le revenu':
                y.append('Earnings before operating expenses and income tax')
            elif i== "depenses d'exploitation":
                y.append('Operating expenses')
            elif i=='benefice avant impots sur le revenu':
                y.append('Profit before income tax')
            elif i=='impots sur le revenu':
                y.append('Income taxes')
            elif i=='benefice net (perte nette)':
                y.append("Net profit (loss)")
           
        return y

    df['Parts2_en']=fparts2_en() # write parts2 elements in English=
    ''' Capitalize the first letter of each element of column Parts1_fr and Parts2_fr'''
    df['Parts1_fr']=[i.capitalize() for i in df['Parts1_fr'].tolist()]
    df['Parts2_fr']=[i.capitalize() for i in df['Parts2_fr'].tolist()]
    
    ####################################################
    df=df.reset_index()
    def remove_rowsWithoutIndicatorName(x): # x is a data frames remove row that do not have indicator name - indeed, they are totals
        y_ind=[]
        for i in range(0,len(x.Indicators)):
            if x.Indicators[i]=='nan':
                y_ind.append(False)
            elif x.Indicators[i].strip()=='':
                y_ind.append(False)
             # remove row where indicator titles are: passifs, obligations a vue, obligations a terme (those row are part title and do not have any data.
            elif x.Indicators[i].strip() in ["revenus nets d'interet","revenus d'interet",'autres revenus',"depenses d'exploitation"]:
                y_ind.append(False)
            # elif x.Indicators[i].strip()=='passif':
            #     y_ind.append(False)
            # elif x.Indicators[i].strip()=='depots':
            #     y_ind.append(False)
            # elif x.Indicators[i].strip()=='obligations a vue':
            #     y_ind.append(False)
            # elif x.Indicators[i].strip()=='obligations a terme':
            #     y_ind.append(False)
            # elif x.Indicators[i].strip()=='avoir des actionnaires':
            #     y_ind.append(False)
                
            else:
                y_ind.append(True)

        return x[y_ind]

    df=remove_rowsWithoutIndicatorName(df)
    df=df.loc[:,'Indicators':] # to remove index column 
    df=df.reset_index()
    df=df.loc[:,'Indicators':] # to remove index column 
    #######################
    
    # remove columns of subtotal, since they are several with the same name "SOUS-TOTAL"
    u=[i.startswith('SOUS') for i in df.columns] # identifying the columns where name starts with 'SOUS'
    y=[]  # list of columns names, except those starting with the string 'SOUS'
    for i in range(0,len(u)):
        if u[i]==False:
                   y.append(df.columns[i])
    df=df[y]
    #############################
    # for most of the reports, the total amount of an indicator for the whole banking system is indicating
    # by the column name 'SYSTÈME'. However, for the first reports, this column name is 'TOTAL'. I want to have
    # TOTAL as name for this column for whatever the period considered. It is necessary to have the same name, 
    # since I will have to concatanate all data frames of the balance sheet.
    df.columns=[col.replace('SYSTÈME','TOTAL') for col in df.columns]
    return df

In [166]:
f_income('trim_1_2021.xlsx')

,Indicators,BNC,BPH,BUH,CAPITALBK,SOGEBK,UNIBNK,SOGEBL,CBNA,TOTAL,Parts1_fr,Parts2_fr,Parts1_en,Parts2_en
0,prets,517779.10191,9882.49438,385372.63887,358998,628842.13023,704532.95783,118519.89206,14837,2738764.21528,Revenus nets d'interet,Revenus d'interet,Net interest income,Interest income
1,interets sur bons b.r.h.,15446,2079.28703,0,2418,122504.14972,1014,0,0,143461.43675,Revenus nets d'interet,Revenus d'interet,Net interest income,Interest income
2,autres,537689.6,39706.63294,66252.853071,22886,53588.07489,216387.86788,2580.14903,185,939276.177811,Revenus nets d'interet,Revenus d'interet,Net interest income,Interest income
3,depenses d'interet,149200.9,19445.79643,101241.38868,90453,167151.26121,173158.96199,37643.58716,525,738819.89547,Revenus nets d'interet,Depenses d'interet,Net interest income,Interest expenses
4,commissions,181291,2729.09909,60585.13935,174262,356010.47284,292514.98728,2813.62714,13283,1083489.3257,Autres revenus,Autres revenus,Other income,Other income
5,gains sur change,102859,5080.52436,83927.00016,154685,224099.42097,613450.23433,8182.47306,53879,1246162.65288,Autres revenus,Autres revenus,Other income,Other income
6,autres,14699,1042.43881,41561.57994,101647,336838.964827,358034.99727,8398.43907,5065,867287.419917,Autres revenus,Autres revenus,Other income,Other income
7,produit net bancaire,1220562.80191,41074.68018,536457.822711,724443,1554731.952267,2012776.0826,102850.9932,86724,6279621.332869,Produit net bancaire,Produit net bancaire,Net banking income,Net banking income
8,dotation a la provision pour creances douteuses,300000,12000,82072.624912,18932,52083.80395,39757.16,3333.33334,0,508178.922202,Dotation a la provision pour creances douteuses,Dotation a la provision pour creances douteuses,Allowance for bad debts,Allowance for bad debts
9,benefice avant depenses d'exploitation,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,Dotation a la provision pour creances douteuses,Benefice avant depenses d'exploitation,Allowance for bad debts,Earning before operating expenses
10,et impots sur le revenu,920562.80191,29074.68018,454385.197799,705511,1502648.148317,1973018.9226,99517.65986,86724,5771442.410666,Et impots sur le revenu,Et impots sur le revenu,Earnings before operating expenses and income tax,Earnings before operating expenses and income tax
11,salaires et avantages sociaux,449884.1,28836.30286,135595.80228,168095,410976.80285,518346.05737,32070.25517,25943,1769747.32053,Depenses d'exploitation,Depenses d'exploitation,Operating expenses,Operating expenses
12,frais de locaux,25493,4746.39218,59566.53534,52095,36632.25243,67076.21779,13286.73277,6077,264973.13051,Depenses d'exploitation,Depenses d'exploitation,Operating expenses,Operating expenses
13,amortissement,38684,3750.66111,30866.0522,24464,70513.56282,123090.7911,4700.70154,5486,301555.76877,Depenses d'exploitation,Depenses d'exploitation,Operating expenses,Operating expenses
14,autres depenses d'exploitation,142338.07874,11913.14853,97268.79323,194817,381934.98674,459092.61319,21564.08356,22544,1331472.70399,Depenses d'exploitation,Depenses d'exploitation,Operating expenses,Operating expenses
15,benefice avant impots sur le revenu,264163.62317,-20171.8245,131088.014749,266040,602590.543477,805413.24315,27895.88682,26674,2103693.486866,Benefice avant impots sur le revenu,Benefice avant impots sur le revenu,Profit before income tax,Profit before income tax
16,impots sur le revenu,0,0,39326.404425,35746,79000,121146.99755,7531.88944,8285,291036.291415,Impots sur le revenu,Impots sur le revenu,Income taxes,Income taxes
17,benefice net (perte nette),264163.62317,-20171.8245,91761.610324,230294,523590.543477,684266.2456,20363.99738,18389,1812657.195451,Benefice net (perte nette),Benefice net (perte nette),Net profit (loss),Net profit (loss)

Test if the function work for all files available

In [169]:
testFunction(f_income)

'The function seems to work well for all files available'

In [170]:
f_income('trim_1_2021.xlsx').columns

Index(['Indicators', 'BNC', 'BPH', 'BUH', 'CAPITALBK', 'SOGEBK', 'UNIBNK',
       'SOGEBL', 'CBNA', 'TOTAL', 'Parts1_fr', 'Parts2_fr', 'Parts1_en',
       'Parts2_en'],
      dtype='object')

### Function to retrieve, clean and combine data related to income statement from all available files

In [174]:
def f_combine2(fun, files): # files is the list of files names; fun is the function that import and clean data
    # set.option(display. max_rows==400)
    df=pd.DataFrame()
    for file in files:
        df=pd.concat([df,fun(file)])
        #df=df.reset_index()
    
    return df