# Preambule

In [636]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import calendar

In [644]:
df_employ=pd.read_excel('trim_1_2014.xls',sheet_name='employés')
df_employ.iloc[10:,:]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
10,Mars 1999,NaN,10,NaN,454,NaN,105,NaN,371,NaN,...,NaN,120,NaN,49,0,NaN,56,NaN,82,2670
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Juin 1999,NaN,10,NaN,452,NaN,106,NaN,376,NaN,...,NaN,124,NaN,49,0,NaN,56,NaN,82,2654
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Sept. 1999,NaN,10,NaN,316,NaN,107,NaN,383,NaN,...,NaN,157,NaN,48,0,NaN,51,NaN,84,2659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [640]:
def f_employ(x):
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month=[];year=[];days_length=[]
        for i in ddates:#dd.Date.tolist():
            month.append(Sdate[i[0:3]])
            year.append(int(i[-4:]))

        days_length=[];date=[]
        for j in range(0,len(month)):
            days_length.append(calendar.monthrange(year[j],month[j])[1])
            date.append(datetime(year[j],month[j],days_length[j]).strftime('%Y-%m-%d'))

        return date
    df.Date=date_identify()
    return df

In [645]:
f_employ('trim_1_2014.xls').tail(5)

,Date,BICH,BNC,BPH,BUH,PROMOBK,SOCABK,SOCABL,SOGEBK,UNIBK,CAPITALBK,SOGEBL,BHD,CBNA,SCOTIA,TOTAL
120,2012-12-31,0,583,144,211,NaN,NaN,NaN,1278,1025,478,57,0,38,92,3906
122,2013-03-31,0,568,141,217,NaN,NaN,NaN,1280,1015,463,57,0,39,92,3872
124,2013-06-30,0,575,138,213,NaN,NaN,NaN,1302,1046,467,57,0,37,91,3926
126,2013-09-30,0,574,141,208,NaN,NaN,NaN,1344,1038,497,59,0,37,90,3988
128,2013-12-31,0,575,143,206,NaN,NaN,NaN,1362,1035,496,65,0,39,91,4012

In [652]:
f_employ('trim_1_2022.xls')

          Date  BNC  BPH  BUH SOGEBK UNIBK CAPITALBK SOGEBL CBNA SCOTIA TOTAL
5   2014-12-31  647  155  192   1454  1124       531     68   32     85  4288
7   2015-03-31  638  156  191   1456  1131       550     69   34     86  4311
9   2015-06-30  636  159  194   1454  1150       551     70   37     86  4337
11  2015-09-30  623  159  208   1466  1155       569     71   38     88  4377
13  2015-12-31  704  161  228   1441  1186       603     70   38     90  4521
15  2016-03-31  737  164  232   1416  1182       599     71   36     88  4525
17  2016-06-30  735  168  229   1414  1192       614     71   36     90  4549
19  2016-09-30  743  180  240   1403  1210       621     69   37     91  4594
21  2016-12-31  827  145  251   1412  1205       643     70   35     88  4676
23  2017-03-31  825  140  254   1411  1292       652     73   34      0  4681
25  2017-06-30  827  139  254   1436  1240       671     73   33      0  4673
27  2017-09-30  816  134  245   1459  1311       665     73   31      0  4734
29  2017-12-31  806  133  246   1425  1314       686     72   31      0  4713
31  2018-03-31  806  133  245   1460  1322       707     73   31      0  4777
33  2018-06-30  801  132  273   1450  1315       716     74   30      0  4791
35  2018-09-30  787  127  278   1427  1287       774     74   32      0  4786
37  2018-12-31  783  123  351   1407  1272       754     74   31      0  4795
39  2019-03-31  781  130  351   1371  1265       744     74   29      0  4745
41  2019-06-30  776  130  374   1356  1264       774     74   28      0  4776
43  2019-09-30  770  130  380   1344  1275       790     75   29      0  4793
45  2019-12-31  850  123  381   1325  1290       781     72   29      0  4851
47  2020-03-31  843  133  388   1278  1307       792     74   28      0  4843
49  2020-06-30  845  123  394   1254  1304       749     73   28      0  4770
51  2020-09-30  841  128  400   1297  1323       772     71   26      0  4858
53  2020-12-31  835  128  420   1223  1295       778     75   25      0  4779
55  2021-03-31  821  135  468   1222  1299       802     78   26      0  4851
57  2021-06-30  813  138  474   1215  1307       811     79   27      0  4864
59  2021-09-30  784  138  467   1174  1308       812     77   24      0  4784
61  2021-12-31  766  130  471   1163  1317       805     78   25      0  4755

In [670]:
"https://www.brh.ht/supervision-bancaire/rapports-statistiques-2/"

'https://www.brh.ht/supervision-bancaire/rapports-statistiques-2/'