# PREAMBULE

In [476]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import calendar
from dateutil.relativedelta import relativedelta

# NUMBER OF EMPLOYEES DATA: importing and cleanning data

In [477]:
def f_employ(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month=[];year=[];days_length=[]
        for i in ddates:#dd.Date.tolist():
            month.append(Sdate[i[0:3]])
            year.append(int(i[-4:]))

        days_length=[];date=[]
        for j in range(0,len(month)):
            days_length.append(calendar.monthrange(year[j],month[j])[1])
            date.append(datetime(year[j],month[j],days_length[j]).strftime('%Y-%m-%d'))

        return date
    df.Date=date_identify()
    
    return df

In [478]:
def f_employ2(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
            if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
                month_end.append(Sdate[i])
                year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01'    
        date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_end.tolist()
        #date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        period=pd.date_range(date_first,date_end,freq='Q').tolist()
        period.append(period[len(period)-1]+relativedelta(months=3))
        return period
    df.Date=date_identify()
    return df#ate_end#[0]+relativedelta(months=1)

In [479]:
def f_employ3(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
           # if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
            #    month_end.append(Sdate[i])
             #   year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01' # build first observation date as YYYY-mm-dd
        date_first=datetime.strptime(date_first,'%Y-%m-%d') # convert date to timedate type
        date_range=[date_first]
        for i in range(0,df.shape[0]-1):
            date_range.append(date_range[i]+relativedelta(months=3))
        #date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_first
        ##date_end=date_end.tolist()
        ##date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        #period=pd.date_range(date_first,date_end,freq='Q').tolist()
        #period.append(period[len(period)-1]+relativedelta(months=3))
        return date_range#period
    df.Date=date_identify()
    return df#date_identify()#ate_end#[0]+relativedelta(months=1)

### Arranging cleanning data in three columns: Date,Banks, Indicator

In [480]:
def group_data(x,fun): # function to group data of a variable by bank
    df=fun(x)
    dfs=df.columns[1:] # list of columns, except the dates
    date=[];values=[];banks=[]
    for d in range(0,len(dfs)):
        date.append(df.Date)
        values.append((df[dfs[d]]))
        banks.append([dfs[d]]*df.shape[0])
    def flatten_list(x): # function to flatten a list of lists to 
        y=[]
        for i in x:
            for j in i:
                y.append(j)
        return y
    date=flatten_list(date)
    values=flatten_list(values)
    banks=flatten_list(banks)
    df=pd.DataFrame({'Date':date,'Banks':banks,'Indicator':values})
    return df

### Creating the list of Excel files containing the reports

In [481]:
# list of Excel files names
df_files=pd.read_csv('BRH_ExcelFiles.csv')
filesList=df_files.x.tolist()
filesList[0:5]  # show the first five files names

['trim_1_2022.xlsx',
 'trim_1_2019.xls',
 'trim_1_2020.xls',
 'trim_1_2021.xlsx',
 'trim_2_2019.xls']

### A Function to import and combine data

In this section all data related to the number of employees are imported and combined in one data frame named *df_employees*.

In [482]:
def f_combine(x,fun): # x is the list of files names; fun is the function that import and clean data
    df=pd.DataFrame(columns=['Date','Banks','Indicator'])
    for file in x:
        df=pd.merge(df,group_data(file,fun),how='outer')
    return df

In [483]:
df_employees=f_combine(filesList,fun=f_employ3)

In [484]:
df_employees

           Date    Banks Indicator
0    2014-12-01      BNC     647.0
1    2015-03-01      BNC     638.0
2    2015-06-01      BNC     636.0
3    2015-09-01      BNC     623.0
4    2015-12-01      BNC     704.0
...         ...      ...       ...
2002 1997-06-01     BIDC       0.0
2003 1997-06-01      BUH     377.0
2004 1997-06-01  PROMOBK     165.0
2005 1997-09-01      BUH     310.0
2006 1997-09-01  PROMOBK     168.0

[2007 rows x 3 columns]

### Remove duplicated data, using Date column

In [485]:
df_employees1=df_employees.drop_duplicates(subset=["Date", "Banks"])

In [486]:
(df_employees.shape,df_employees1.shape) # compare the dimension of the old and the new data frame

((2007, 3), (1850, 3))

In [487]:
df_employees1

           Date   Banks Indicator
0    2014-12-01     BNC     647.0
1    2015-03-01     BNC     638.0
2    2015-06-01     BNC     636.0
3    2015-09-01     BNC     623.0
4    2015-12-01     BNC     704.0
...         ...     ...       ...
1969 1998-06-01  SOGEBL        61
1970 1998-06-01     BHD        33
1971 1998-06-01    CBNA        65
1972 1998-06-01  SCOTIA        90
1973 1998-06-01   TOTAL      3077

[1850 rows x 3 columns]

### Saving data in CSV files

In [488]:
df_employees.to_csv('BanksEmployees_all.csv',date_format='%Y-%m-%d',index=False)                 # file of all data, including duplicates

In [489]:
df_employees1.to_csv('BanksEmployees_withoutDuplicates.csv',date_format='%Y-%m-%d',index=False)  # file of data, without duplicates

In [490]:
df_emp=pd.read_csv('BanksEmployees_withoutDuplicates.csv')    # a file to update with new data
df_emp.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)

### Function to combine the available data with new quarterly report

In [491]:
def add_employ(newReportFile):
    df_new=group_data(newReportFile,f_employ3)      # importing and cleanning data
    #df_new1=df_new.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df_emp=pd.read_csv('BanksEmployees.csv')        # importing old data before combining with new data
    df=pd.concat([df_emp,df_new],join='inner')
    df.Date=df.Date.tolist()
    df=df.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)
    return df

In [495]:
 add_employ('trim_1_2016.xls') # a test of the function

                     Date  Banks Indicator
0              2014-12-01    BNC     647.0
1              2015-03-01    BNC     638.0
2              2015-06-01    BNC     636.0
3              2015-09-01    BNC     623.0
4              2015-12-01    BNC     704.0
...                   ...    ...       ...
1045  2014-12-01 00:00:00  TOTAL      4288
1046  2015-03-01 00:00:00  TOTAL      4311
1047  2015-06-01 00:00:00  TOTAL      4337
1048  2015-09-01 00:00:00  TOTAL      4377
1049  2015-12-01 00:00:00  TOTAL      4521

[2900 rows x 3 columns]