# 1- PREAMBULE

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import calendar
from dateutil.relativedelta import relativedelta

# 2-NUMBER OF EMPLOYEES DATA: importing and cleanning data

In [477]:
def f_employ(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month=[];year=[];days_length=[]
        for i in ddates:#dd.Date.tolist():
            month.append(Sdate[i[0:3]])
            year.append(int(i[-4:]))

        days_length=[];date=[]
        for j in range(0,len(month)):
            days_length.append(calendar.monthrange(year[j],month[j])[1])
            date.append(datetime(year[j],month[j],days_length[j]).strftime('%Y-%m-%d'))

        return date
    df.Date=date_identify()
    
    return df

In [478]:
def f_employ2(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
            if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
                month_end.append(Sdate[i])
                year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01'    
        date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_end.tolist()
        #date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        period=pd.date_range(date_first,date_end,freq='Q').tolist()
        period.append(period[len(period)-1]+relativedelta(months=3))
        return period
    df.Date=date_identify()
    return df#ate_end#[0]+relativedelta(months=1)

In [2]:
def f_employ3(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
           # if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
            #    month_end.append(Sdate[i])
             #   year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01' # build first observation date as YYYY-mm-dd
        date_first=datetime.strptime(date_first,'%Y-%m-%d') # convert date to timedate type
        date_range=[date_first]
        for i in range(0,df.shape[0]-1):
            date_range.append(date_range[i]+relativedelta(months=3))
        #date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_first
        ##date_end=date_end.tolist()
        ##date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        #period=pd.date_range(date_first,date_end,freq='Q').tolist()
        #period.append(period[len(period)-1]+relativedelta(months=3))
        return date_range#period
    df.Date=date_identify()
    return df#date_identify()#ate_end#[0]+relativedelta(months=1)

### Arranging cleanning data in three columns: Date,Banks, Indicator

In [3]:
def group_data(x,fun): # function to group data of a variable by bank
    df=fun(x)          # x is a data frame of and indicator, where the dates are in the first column and each bank is a column of the indicator
    dfs=df.columns[1:] # list of columns, except the dates
    date=[];values=[];banks=[]
    for d in range(0,len(dfs)):
        date.append(df.Date)
        values.append((df[dfs[d]]))
        banks.append([dfs[d]]*df.shape[0])
    def flatten_list(x): # function to flatten a list of lists to 
        y=[]
        for i in x:
            for j in i:
                y.append(j)
        return y
    date=flatten_list(date)
    values=flatten_list(values)
    banks=flatten_list(banks)
    df=pd.DataFrame({'Date':date,'Banks':banks,'Indicator':values})
    return df

### Creating the list of Excel files containing the reports

In [481]:
# list of Excel files names
df_files=pd.read_csv('BRH_ExcelFiles.csv')
filesList=df_files.x.tolist()
filesList[0:5]  # show the first five files names

['trim_1_2022.xlsx',
 'trim_1_2019.xls',
 'trim_1_2020.xls',
 'trim_1_2021.xlsx',
 'trim_2_2019.xls']

### A Function to import and combine data

In this section all data related to the number of employees are imported and combined in one data frame named *df_employees*.

In [4]:
def f_combine(x,fun): # x is the list of files names; fun is the function that import and clean data
    df=pd.DataFrame(columns=['Date','Banks','Indicator'])
    for file in x:
        df=pd.merge(df,group_data(file,fun),how='outer')
    return df

In [483]:
df_employees=f_combine(filesList,fun=f_employ3)

In [484]:
df_employees

           Date    Banks Indicator
0    2014-12-01      BNC     647.0
1    2015-03-01      BNC     638.0
2    2015-06-01      BNC     636.0
3    2015-09-01      BNC     623.0
4    2015-12-01      BNC     704.0
...         ...      ...       ...
2002 1997-06-01     BIDC       0.0
2003 1997-06-01      BUH     377.0
2004 1997-06-01  PROMOBK     165.0
2005 1997-09-01      BUH     310.0
2006 1997-09-01  PROMOBK     168.0

[2007 rows x 3 columns]

### Remove duplicated data, using Date column

In [485]:
df_employees1=df_employees.drop_duplicates(subset=["Date", "Banks"])

In [486]:
(df_employees.shape,df_employees1.shape) # compare the dimension of the old and the new data frame

((2007, 3), (1850, 3))

In [487]:
df_employees1

           Date   Banks Indicator
0    2014-12-01     BNC     647.0
1    2015-03-01     BNC     638.0
2    2015-06-01     BNC     636.0
3    2015-09-01     BNC     623.0
4    2015-12-01     BNC     704.0
...         ...     ...       ...
1969 1998-06-01  SOGEBL        61
1970 1998-06-01     BHD        33
1971 1998-06-01    CBNA        65
1972 1998-06-01  SCOTIA        90
1973 1998-06-01   TOTAL      3077

[1850 rows x 3 columns]

### Saving data in CSV files

In [488]:
df_employees.to_csv('BanksEmployees_all.csv',date_format='%Y-%m-%d',index=False)                 # file of all data, including duplicates

In [489]:
df_employees1.to_csv('BanksEmployees_withoutDuplicates.csv',date_format='%Y-%m-%d',index=False)  # file of data, without duplicates

In [490]:
df_emp=pd.read_csv('BanksEmployees_withoutDuplicates.csv')    # a file to update with new data
df_emp.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)

### Function to combine the available data with new quarterly report

In [491]:
def add_employ(newReportFile):
    df_new=group_data(newReportFile,f_employ3)      # importing and cleanning data
    #df_new1=df_new.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df_emp=pd.read_csv('BanksEmployees.csv')        # importing old data before combining with new data
    df=pd.concat([df_emp,df_new],join='inner')
    df.Date=df.Date.tolist()
    df=df.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)
    return df

In [495]:
 add_employ('trim_1_2016.xls') # a test of the function

                     Date  Banks Indicator
0              2014-12-01    BNC     647.0
1              2015-03-01    BNC     638.0
2              2015-06-01    BNC     636.0
3              2015-09-01    BNC     623.0
4              2015-12-01    BNC     704.0
...                   ...    ...       ...
1045  2014-12-01 00:00:00  TOTAL      4288
1046  2015-03-01 00:00:00  TOTAL      4311
1047  2015-06-01 00:00:00  TOTAL      4337
1048  2015-09-01 00:00:00  TOTAL      4377
1049  2015-12-01 00:00:00  TOTAL      4521

[2900 rows x 3 columns]

# 3- BALANCE SHEET DATA: importing and cleanning data

In [18]:
def f_balsheet(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-2:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
        psn.append('bilsysba'+i+year_true)  # at least in one report the correct sheet name structure is different
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
   
    # Give names to columns
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            y=[];z=[];
            for i in range(0,(df.shape[0]-1)):
                if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                    y=df.loc[i:(i+1),:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            df.columns=['Indicators']+y[1:]#df_employ.columns[1:].tolist()
            df=df.iloc[z:,:] # begin data frame with row z
            return df
    df=col_names(df)
    
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=df[df.Indicators=='Dépôts US convertis'].index[0] # finding the index number of row to stop the data frame
    df=df.loc[:endrow_data,:]
    
    #### Adding a column of date indicating the end of the quarterly ###
    # series to define each quarterly last month
    Sdate=pd.Series([3,6,9,12],index=[2,3,4,1]) # [3,6,9,12] is the list of the number of the last months of the quarterlies
    year_quarter=x.split('.')[0][-4:]
    year_quarter=pd.Series([year_quarter,year_quarter,year_quarter,str(int(year_quarter)-1)],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true1=year_quarter[trim]
    
    date=year_true1+'-'+str(Sdate[trim])+'-'+'01'
    date=datetime.strptime(date,'%Y-%m-%d')
    df['Date']=date
    df.insert(0,'Date',df.pop('Date'))     # relocate "Date" as the first column
    df=df.drop('index',axis=1)# remove column 'index' which we do not need
    df=df.drop('SOUS-TOTAL',axis=1)# remove column 'index' which we do not need
    #df=pd.concat([df['Date'],df.iloc[:,:-1]],axis=1)
    return df

In [61]:
do=f_balsheet('trim_1_2019.xls')

In [62]:
do.Indicators==' '

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: Indicators, dtype: bool

In [66]:
do.Indicators==np.nan

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: Indicators, dtype: bool

In [60]:
#f_balsheet('trim_2_2018.xls')['Indicators']
['Cash','Assets at the central bank','Assets abroad','Assets in local banks','Other liquid assets',np.nan,'Central bank bills','Treasury bills','Other investments','Net loan portfolio','fixed assets','other assets', np.nan,'Check accounts deposits',
 'Saving deposits','Term deposit',' ','Bonds in local banks','Bonds in banks abroad','Other bonds','Term bonds in local banks',
 "Term bonds in Bank abroad",'Others term bonds','Other liabilities','TO HAVE SHAREHOLDERS','Paid-up capital','Reservations','Reserves (Prov. For Loan Losses)','Contributed surplus','BNR']

['Cash',
 'Assets at the central bank',
 'Assets abroad',
 'Assets in local banks',
 'Other liquid assets',
 nan,
 'Central bank bills',
 'Treasury bills',
 'Other investments',
 'Net loan portfolio',
 'fixed assets',
 'other assets',
 nan,
 'Check accounts deposits',
 'Saving deposits',
 'Term deposit',
 ' ',
 'Bonds in local banks',
 'Bonds in banks abroad',
 'Other bonds',
 'Term bonds in local banks',
 'Term bonds in Bank abroad',
 'Others term bonds',
 'Other liabilities',
 'TO HAVE SHAREHOLDERS',
 'Paid-up capital',
 'Reservations',
 'Reserves (Prov. For Loan Losses)',
 'Contributed surplus',
 'BNR']

In [33]:
f_balsheet('trim_2_2001.xls').shape

(40, 16)

In [36]:
f_balsheet('trim_2_2018.xls')['Indicators']

0                                      Encaisse
1                               Avoirs à la BRH
2                           Avoirs à l'étranger
3               Avoirs dans les banques locales
4                             Autres liquidités
5                                           NaN
6                                   Bons B.R.H.
7                       Bons du Trésor / M.E.F.
8                             Autres Placements
9                             Portefeuille net
10                              Immobilisations
11                                Autres actifs
12
13                                        À vue
14                                      Épargne
15                                      À terme
16                                          NaN
17                              Banques locales
18                         Banques à l'étranger
19                                       Autres
20                                          NaN
21                              Banques locales
22                          Banque à l'étranger
23                                       Autres
24                                          NaN
25                               Autres passifs
26                                          NaN
27                                Capital versé
28                                     Réserves
29       Réserves (Prov. Pour pertes sur prêts)
30                            Surplus d'apport
31                                          BNR
32
33
34                      Effets à l'encaissement
35                          Crédit documentaire
36                                       Autres
37                            Portefeuille brut
38           Provisions pour créances douteuses
39           Portefeuille de crédit improductif
40                          Dépôts US convertis
Name: Indicators, dtype: object

In [593]:
datetime.strptime('2015-3-01','%Y-%m-%d')

datetime.datetime(2015, 3, 1, 0, 0)