# 1- PREAMBULE

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import calendar
from dateutil.relativedelta import relativedelta
from unidecode import unidecode # to remove accents in strings

# 2-NUMBER OF EMPLOYEES DATA: importing and cleanning data

In [477]:
def f_employ(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month=[];year=[];days_length=[]
        for i in ddates:#dd.Date.tolist():
            month.append(Sdate[i[0:3]])
            year.append(int(i[-4:]))

        days_length=[];date=[]
        for j in range(0,len(month)):
            days_length.append(calendar.monthrange(year[j],month[j])[1])
            date.append(datetime(year[j],month[j],days_length[j]).strftime('%Y-%m-%d'))

        return date
    df.Date=date_identify()
    
    return df

In [478]:
def f_employ2(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
            if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
                month_end.append(Sdate[i])
                year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01'    
        date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_end.tolist()
        #date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        period=pd.date_range(date_first,date_end,freq='Q').tolist()
        period.append(period[len(period)-1]+relativedelta(months=3))
        return period
    df.Date=date_identify()
    return df#ate_end#[0]+relativedelta(months=1)

In [2]:
def f_employ3(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
           # if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
            #    month_end.append(Sdate[i])
             #   year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01' # build first observation date as YYYY-mm-dd
        date_first=datetime.strptime(date_first,'%Y-%m-%d') # convert date to timedate type
        date_range=[date_first]
        for i in range(0,df.shape[0]-1):
            date_range.append(date_range[i]+relativedelta(months=3))
        #date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_first
        ##date_end=date_end.tolist()
        ##date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        #period=pd.date_range(date_first,date_end,freq='Q').tolist()
        #period.append(period[len(period)-1]+relativedelta(months=3))
        return date_range#period
    df.Date=date_identify()
    return df#date_identify()#ate_end#[0]+relativedelta(months=1)

### Arranging cleanning data in three columns: Date,Banks, Indicator

In [3]:
def group_data(x,fun): # function to group data of a variable by bank
    df=fun(x)          # x is a data frame of and indicator, where the dates are in the first column and each bank is a column of the indicator
    dfs=df.columns[1:] # list of columns, except the dates
    date=[];values=[];banks=[]
    for d in range(0,len(dfs)):
        date.append(df.Date)
        values.append((df[dfs[d]]))
        banks.append([dfs[d]]*df.shape[0])
    def flatten_list(x): # function to flatten a list of lists to 
        y=[]
        for i in x:
            for j in i:
                y.append(j)
        return y
    date=flatten_list(date)
    values=flatten_list(values)
    banks=flatten_list(banks)
    df=pd.DataFrame({'Date':date,'Banks':banks,'Indicator':values})
    return df

### Creating the list of Excel files containing the reports

In [481]:
# list of Excel files names
df_files=pd.read_csv('BRH_ExcelFiles.csv')
filesList=df_files.x.tolist()
filesList[0:5]  # show the first five files names

['trim_1_2022.xlsx',
 'trim_1_2019.xls',
 'trim_1_2020.xls',
 'trim_1_2021.xlsx',
 'trim_2_2019.xls']

### A Function to import and combine data

In this section all data related to the number of employees are imported and combined in one data frame named *df_employees*.

In [4]:
def f_combine(x,fun): # x is the list of files names; fun is the function that import and clean data
    df=pd.DataFrame(columns=['Date','Banks','Indicator'])
    for file in x:
        df=pd.merge(df,group_data(file,fun),how='outer')
    return df

In [483]:
df_employees=f_combine(filesList,fun=f_employ3)

In [484]:
df_employees

           Date    Banks Indicator
0    2014-12-01      BNC     647.0
1    2015-03-01      BNC     638.0
2    2015-06-01      BNC     636.0
3    2015-09-01      BNC     623.0
4    2015-12-01      BNC     704.0
...         ...      ...       ...
2002 1997-06-01     BIDC       0.0
2003 1997-06-01      BUH     377.0
2004 1997-06-01  PROMOBK     165.0
2005 1997-09-01      BUH     310.0
2006 1997-09-01  PROMOBK     168.0

[2007 rows x 3 columns]

### Remove duplicated data, using Date column

In [485]:
df_employees1=df_employees.drop_duplicates(subset=["Date", "Banks"])

In [486]:
(df_employees.shape,df_employees1.shape) # compare the dimension of the old and the new data frame

((2007, 3), (1850, 3))

In [487]:
df_employees1

           Date   Banks Indicator
0    2014-12-01     BNC     647.0
1    2015-03-01     BNC     638.0
2    2015-06-01     BNC     636.0
3    2015-09-01     BNC     623.0
4    2015-12-01     BNC     704.0
...         ...     ...       ...
1969 1998-06-01  SOGEBL        61
1970 1998-06-01     BHD        33
1971 1998-06-01    CBNA        65
1972 1998-06-01  SCOTIA        90
1973 1998-06-01   TOTAL      3077

[1850 rows x 3 columns]

### Saving data in CSV files

In [488]:
df_employees.to_csv('BanksEmployees_all.csv',date_format='%Y-%m-%d',index=False)                 # file of all data, including duplicates

In [489]:
df_employees1.to_csv('BanksEmployees_withoutDuplicates.csv',date_format='%Y-%m-%d',index=False)  # file of data, without duplicates

In [490]:
df_emp=pd.read_csv('BanksEmployees_withoutDuplicates.csv')    # a file to update with new data
df_emp.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)

### Function to combine the available data with new quarterly report

In [491]:
def add_employ(newReportFile):
    df_new=group_data(newReportFile,f_employ3)      # importing and cleanning data
    #df_new1=df_new.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df_emp=pd.read_csv('BanksEmployees.csv')        # importing old data before combining with new data
    df=pd.concat([df_emp,df_new],join='inner')
    df.Date=df.Date.tolist()
    df=df.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)
    return df

In [495]:
 add_employ('trim_1_2016.xls') # a test of the function

                     Date  Banks Indicator
0              2014-12-01    BNC     647.0
1              2015-03-01    BNC     638.0
2              2015-06-01    BNC     636.0
3              2015-09-01    BNC     623.0
4              2015-12-01    BNC     704.0
...                   ...    ...       ...
1045  2014-12-01 00:00:00  TOTAL      4288
1046  2015-03-01 00:00:00  TOTAL      4311
1047  2015-06-01 00:00:00  TOTAL      4337
1048  2015-09-01 00:00:00  TOTAL      4377
1049  2015-12-01 00:00:00  TOTAL      4521

[2900 rows x 3 columns]

# 3- BALANCE SHEET DATA: importing and cleanning data

In [158]:
def f_balsheet(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-2:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
        psn.append('bilsysba'+i+year_true)  # at least in one report the correct sheet name structure is different
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
   
    # Give names to columns
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            y=[];z=[];
            for i in range(0,(df.shape[0]-1)):
                if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                    y=df.loc[i:(i+1),:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            df.columns=['Indicators']+y[1:]#df_employ.columns[1:].tolist()
            df=df.iloc[z:,:] # begin data frame with row z
            return df
    df=col_names(df)
    
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=df[df.Indicators=='Dépôts US convertis'].index[0] # finding the index number of row to stop the data frame
    df=df.loc[:endrow_data,:]
    
    #### Adding a column of date indicating the end of the quarterly ###
    # series to define each quarterly last month
    Sdate=pd.Series([3,6,9,12],index=[2,3,4,1]) # [3,6,9,12] is the list of the number of the last months of the quarterlies
    year_quarter=x.split('.')[0][-4:]
    year_quarter=pd.Series([year_quarter,year_quarter,year_quarter,str(int(year_quarter)-1)],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true1=year_quarter[trim]
    
    date=year_true1+'-'+str(Sdate[trim])+'-'+'01'
    date=datetime.strptime(date,'%Y-%m-%d')
    df['Date']=date
    df.insert(0,'Date',df.pop('Date'))     # relocate "Date" as the first column
    df=df.drop('index',axis=1)# remove column 'index' which we do not need
    df=df.drop('SOUS-TOTAL',axis=1)# remove column 'index' which we do not need
    
    # some row containing subtotals of some parts of the balance sheet do not have an indicaotr name in the Indicators column.
    # some have a NaN value and some other are either empty or have space(s)
    def isNaN(x): # function to identify NaN - Thanks to https://www.codespeedy.com/check-if-a-given-string-is-nan-in-python/
        return x != x

    df=df[isNaN(df.Indicators)==False]  # removing row of data not identified. They are subtotal and total
    
    #remove row where Indicators column as no value
    def f_removeSpacesInList2(x):
        y=[]
        for i in x:
            y.append(i.strip())
        return y
    
    df.Indicators=f_removeSpacesInList2(df.Indicators) # remove all spaces in Indicators columns
    df=df[df.Indicators!='']
    df=df.reset_index()
    return df

In [162]:
do=f_balsheet('trim_1_2019.xls')
do.shape

(33, 12)

In [146]:
do.Indicators==''

0     False
1     False
2     False
3     False
4     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
17    False
18    False
19    False
21    False
22    False
23    False
25    False
27    False
28    False
29    False
30    False
31    False
32     True
33     True
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: Indicators, dtype: bool

In [60]:
#f_balsheet('trim_2_2018.xls')['Indicators']
['Cash','Assets at the central bank','Assets abroad','Assets in local banks','Other liquid assets',np.nan,'Central bank bills','Treasury bills','Other investments','Net loan portfolio','fixed assets','other assets', np.nan,'Check accounts deposits',
 'Saving deposits','Term deposit',' ','Bonds in local banks','Bonds in banks abroad','Other bonds','Term bonds in local banks',
 "Term bonds in Bank abroad",'Others term bonds','Other liabilities','TO HAVE SHAREHOLDERS','Paid-up capital','Reservations','Reserves (Prov. For Loan Losses)','Contributed surplus','BNR']

['Cash',
 'Assets at the central bank',
 'Assets abroad',
 'Assets in local banks',
 'Other liquid assets',
 nan,
 'Central bank bills',
 'Treasury bills',
 'Other investments',
 'Net loan portfolio',
 'fixed assets',
 'other assets',
 nan,
 'Check accounts deposits',
 'Saving deposits',
 'Term deposit',
 ' ',
 'Bonds in local banks',
 'Bonds in banks abroad',
 'Other bonds',
 'Term bonds in local banks',
 'Term bonds in Bank abroad',
 'Others term bonds',
 'Other liabilities',
 'TO HAVE SHAREHOLDERS',
 'Paid-up capital',
 'Reservations',
 'Reserves (Prov. For Loan Losses)',
 'Contributed surplus',
 'BNR']

In [163]:
do1=f_balsheet('trim_2_2001.xls')
do2=f_balsheet('trim_2_2018.xls')

In [171]:
pd.DataFrame(do1.Indicators.tolist()[0:31],do2.Indicators.tolist()[0:31])

                                                                         0
Encaisse                                                          Encaisse
Avoirs à la BRH                                            Avoirs à la BRH
Avoirs à l'étranger                                    Avoirs à l'étranger
Avoirs dans les banques locales            Avoirs dans les banques locales
Autres liquidités                                        Autres liquidités
Bons B.R.H.                                                    Bons B.R.H.
Bons du Trésor / M.E.F.                                  Autres Placements
Autres Placements                                         Portefeuille net
Portefeuille net                                           Immobilisations
Immobilisations                                              Autres actifs
Autres actifs                                                        À vue
À vue                                                              Épargne
Épargne                                                            À terme
À terme                                                    Banques locales
Banques locales                                       Banques à l'étranger
Banques à l'étranger                                                Autres
Autres                                                     Banques locales
Banques locales                                        Banque à l'étranger
Banque à l'étranger                                                 Autres
Autres                                                      Autres passifs
Autres passifs                                               Capital versé
Capital versé                                                     Réserves
Réserves                                                  Surplus d'apport
Réserves (Prov. Pour pertes sur prêts)                                 BNR
Surplus d'apport                                   Effets à l'encaissement
BNR                                                    Crédit documentaire
Effets à l'encaissement                                             Autres
Crédit documentaire                                      Portefeuille brut
Autres                                  Provisions pour créances douteuses
Portefeuille brut                       Portefeuille de crédit improductif
Provisions pour créances douteuses                     Dépôts US convertis

In [172]:
do=f_balsheet('trim_2_2018.xls')
do

,index,Date,Indicators,BNC,BPH,BUH,CAPITALBK,SOGEBK,UNIBNK,SOGEBL,CBNA,SYSTÈME
0,0,2018-03-01,Encaisse,6031592,92345.03558,404103.281302,478085,1914250.94595,1855172.512033,27924.89082,108064,10911537.665685
1,1,2018-03-01,Avoirs à la BRH,17079352,1019060.2563,6399986.210961,7175600,26655426.42502,39338803.018401,1185825.98683,4836788,103690841.897512
2,2,2018-03-01,Avoirs à l'étranger,1439604,48075.65661,991143.999192,1712761,1597882.68691,4313974.120918,4767.53806,510160,10618369.00169
3,3,2018-03-01,Avoirs dans les banques locales,0,0,13467.022469,1568,5423.0689,0,1068974.16112,0,1089432.252489
4,4,2018-03-01,Autres liquidités,205674,25056.50408,7246.863238,209268,147784.59048,877155.936259,8624.68286,73807,1554617.576917
5,6,2018-03-01,Bons B.R.H.,11671000,762000,200000,180000,900000,0,0,99933,13812933
6,7,2018-03-01,Bons du Trésor / M.E.F.,1400000,108318.71657,0,0,0,305097.36554,0,0,1813416.08211
7,8,2018-03-01,Autres Placements,9028673,24514.18696,286084.836258,1185677,15169895.79981,32146298.499838,149574.57472,0,57990717.897586
8,9,2018-03-01,Portefeuille net,15990462,688939.39549,9763236.137501,8397578,25514227.91365,31420085.99562,4086954.18618,433070,96294553.628441
9,10,2018-03-01,Immobilisations,1863582.034723,312830.51628,603581.17661,785860,2717076.62654,2346596.05626,338352.94485,311960,9279839.355263
10,11,2018-03-01,Autres actifs,2092091,217889.88307,195589.741827,611805,3388669.38446,7367730.99939,182859.00086,32866,14089501.009607
11,13,2018-03-01,À vue,30039589,1156936.73704,4231935,7322635,25320197.243609,42601970.81759,1559658.69297,4799671,117032593.491208
12,14,2018-03-01,Épargne,15466545,350485.04586,2805135,3922190,21932220.365962,33690621.996159,616592.73842,377700,79161490.146402
13,15,2018-03-01,À terme,7321687,1372696.57207,6793070.567329,5824859,14682191.086497,21133025.936691,1976927.66738,36029,59140486.829968
14,17,2018-03-01,Banques locales,0,0,0,0,0,1908064.00729,0,0,1908064.00729
15,18,2018-03-01,Banques à l'étranger,0,0,0,0,0,0,0,0,0
16,19,2018-03-01,Autres,1700765.046,151541.70262,772252,611930,3901616.05741,5005214.435504,132122.81706,726496,13001938.058594
17,21,2018-03-01,Banques locales,1862640,99999.99988,2207651.92026,521529,1879155.84435,0,1920697.81573,0,8491674.58022
18,22,2018-03-01,Banque à l'étranger,0,0,0,0,2071179.21385,0,0,0,2071179.21385
19,23,2018-03-01,Autres,3555543,203495.03523,132388.255692,81788,573356.51248,1293656.008552,92261.06798,63233,5995720.879935
20,25,2018-03-01,Autres passifs,1025968,8905.17125,412148.544628,584731,1505978.0704,1455019.003347,160237.63052,0,5152987.420145
21,27,2018-03-01,Capital versé,3000000,165000,550000,810000,1500000,6468737.5,250000,103837,12847574.5
22,28,2018-03-01,Réserves,671982,78594.771,103338.59233,275299,2051364.01531,1209816.82623,250864.7255,59288,4700547.93037
23,29,2018-03-01,Réserves (Prov. Pour pertes sur prêts),194000,0,134089.14046,0,0,0,0,0,328089.14046
24,30,2018-03-01,Surplus d'apport,0,14325,411914.92322,1384,371816.94492,0,0,0,799440.86814
25,31,2018-03-01,BNR,1963311,-302949.88401,310515.320505,781857,2221562.08693,5204787.96867,94494.81087,240394,10513972.302965
26,34,2018-03-01,Effets à l'encaissement,732807,0,0,0,229189.72185,1084.047771,0,0,963080.769621
27,35,2018-03-01,Crédit documentaire,229025,0,0,0,1171595.58997,1059599.717755,0,0,2460220.307725
28,36,2018-03-01,Autres,7357670,197867.788243,1108804.731444,250807,4240416.83581,1533495.886329,508046.38917,1609612.25489,16806720.885885
29,37,2018-03-01,Portefeuille brut,16416967,1316015.89904,9806079.009578,8438054,26396742.60609,31595048.97841,4216974.22567,433070,98618951.718788
30,38,2018-03-01,Provisions pour créances douteuses,426505,627076.50355,42842.872077,40476,882514.69244,174962.98279,130020.03949,0,2324398.090347
31,39,2018-03-01,Portefeuille de crédit improductif,1179838,783650.65687,72360.631139,56114,1243259,35792.45602,541304.58489,0,3912319.328919
32,40,2018-03-01,Dépôts US convertis,19698883,1574529.07891,8755298.328889,12461044,40414755.556818,67469720.38324,3306413.26049,3386597,157067240.608347

In [593]:
datetime.strptime('2015-3-01','%Y-%m-%d')

datetime.datetime(2015, 3, 1, 0, 0)

In [182]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\diaraye\anaconda3b\lib\site-packages (1.2.0)Note: you may need to restart the kernel to use updated packages.

In [188]:
'A lui. Il faut'.lower()

'a lui. il faut'

In [184]:
unidecode('à lui, Haïti fait ça et être entré et entè')

'a lui, Haiti fait ca et etre entre et ente'

In [191]:
# remove accent and lowercase of strings
def lower_removeAccents(x):
    return unidecode(x).lower()
lower_removeAccents("A, c'est bie à lui, Haïti fait ça et être entré et entè")

"a, c'est bie a lui, haiti fait ca et etre entre et ente"