# 1- PREAMBULE

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import calendar
from dateutil.relativedelta import relativedelta

# 2-NUMBER OF EMPLOYEES DATA: importing and cleanning data

In [477]:
def f_employ(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month=[];year=[];days_length=[]
        for i in ddates:#dd.Date.tolist():
            month.append(Sdate[i[0:3]])
            year.append(int(i[-4:]))

        days_length=[];date=[]
        for j in range(0,len(month)):
            days_length.append(calendar.monthrange(year[j],month[j])[1])
            date.append(datetime(year[j],month[j],days_length[j]).strftime('%Y-%m-%d'))

        return date
    df.Date=date_identify()
    
    return df

In [478]:
def f_employ2(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
            if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
                month_end.append(Sdate[i])
                year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01'    
        date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_end.tolist()
        #date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        period=pd.date_range(date_first,date_end,freq='Q').tolist()
        period.append(period[len(period)-1]+relativedelta(months=3))
        return period
    df.Date=date_identify()
    return df#ate_end#[0]+relativedelta(months=1)

In [2]:
def f_employ3(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
           # if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
            #    month_end.append(Sdate[i])
             #   year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01' # build first observation date as YYYY-mm-dd
        date_first=datetime.strptime(date_first,'%Y-%m-%d') # convert date to timedate type
        date_range=[date_first]
        for i in range(0,df.shape[0]-1):
            date_range.append(date_range[i]+relativedelta(months=3))
        #date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_first
        ##date_end=date_end.tolist()
        ##date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        #period=pd.date_range(date_first,date_end,freq='Q').tolist()
        #period.append(period[len(period)-1]+relativedelta(months=3))
        return date_range#period
    df.Date=date_identify()
    return df#date_identify()#ate_end#[0]+relativedelta(months=1)

### Arranging cleanning data in three columns: Date,Banks, Indicator

In [3]:
def group_data(x,fun): # function to group data of a variable by bank
    df=fun(x)          # x is a data frame of and indicator, where the dates are in the first column and each bank is a column of the indicator
    dfs=df.columns[1:] # list of columns, except the dates
    date=[];values=[];banks=[]
    for d in range(0,len(dfs)):
        date.append(df.Date)
        values.append((df[dfs[d]]))
        banks.append([dfs[d]]*df.shape[0])
    def flatten_list(x): # function to flatten a list of lists to 
        y=[]
        for i in x:
            for j in i:
                y.append(j)
        return y
    date=flatten_list(date)
    values=flatten_list(values)
    banks=flatten_list(banks)
    df=pd.DataFrame({'Date':date,'Banks':banks,'Indicator':values})
    return df

### Creating the list of Excel files containing the reports

In [481]:
# list of Excel files names
df_files=pd.read_csv('BRH_ExcelFiles.csv')
filesList=df_files.x.tolist()
filesList[0:5]  # show the first five files names

['trim_1_2022.xlsx',
 'trim_1_2019.xls',
 'trim_1_2020.xls',
 'trim_1_2021.xlsx',
 'trim_2_2019.xls']

### A Function to import and combine data

In this section all data related to the number of employees are imported and combined in one data frame named *df_employees*.

In [4]:
def f_combine(x,fun): # x is the list of files names; fun is the function that import and clean data
    df=pd.DataFrame(columns=['Date','Banks','Indicator'])
    for file in x:
        df=pd.merge(df,group_data(file,fun),how='outer')
    return df

In [483]:
df_employees=f_combine(filesList,fun=f_employ3)

In [484]:
df_employees

           Date    Banks Indicator
0    2014-12-01      BNC     647.0
1    2015-03-01      BNC     638.0
2    2015-06-01      BNC     636.0
3    2015-09-01      BNC     623.0
4    2015-12-01      BNC     704.0
...         ...      ...       ...
2002 1997-06-01     BIDC       0.0
2003 1997-06-01      BUH     377.0
2004 1997-06-01  PROMOBK     165.0
2005 1997-09-01      BUH     310.0
2006 1997-09-01  PROMOBK     168.0

[2007 rows x 3 columns]

### Remove duplicated data, using Date column

In [485]:
df_employees1=df_employees.drop_duplicates(subset=["Date", "Banks"])

In [486]:
(df_employees.shape,df_employees1.shape) # compare the dimension of the old and the new data frame

((2007, 3), (1850, 3))

In [487]:
df_employees1

           Date   Banks Indicator
0    2014-12-01     BNC     647.0
1    2015-03-01     BNC     638.0
2    2015-06-01     BNC     636.0
3    2015-09-01     BNC     623.0
4    2015-12-01     BNC     704.0
...         ...     ...       ...
1969 1998-06-01  SOGEBL        61
1970 1998-06-01     BHD        33
1971 1998-06-01    CBNA        65
1972 1998-06-01  SCOTIA        90
1973 1998-06-01   TOTAL      3077

[1850 rows x 3 columns]

### Saving data in CSV files

In [488]:
df_employees.to_csv('BanksEmployees_all.csv',date_format='%Y-%m-%d',index=False)                 # file of all data, including duplicates

In [489]:
df_employees1.to_csv('BanksEmployees_withoutDuplicates.csv',date_format='%Y-%m-%d',index=False)  # file of data, without duplicates

In [490]:
df_emp=pd.read_csv('BanksEmployees_withoutDuplicates.csv')    # a file to update with new data
df_emp.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)

### Function to combine the available data with new quarterly report

In [491]:
def add_employ(newReportFile):
    df_new=group_data(newReportFile,f_employ3)      # importing and cleanning data
    #df_new1=df_new.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df_emp=pd.read_csv('BanksEmployees.csv')        # importing old data before combining with new data
    df=pd.concat([df_emp,df_new],join='inner')
    df.Date=df.Date.tolist()
    df=df.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)
    return df

In [495]:
 add_employ('trim_1_2016.xls') # a test of the function

                     Date  Banks Indicator
0              2014-12-01    BNC     647.0
1              2015-03-01    BNC     638.0
2              2015-06-01    BNC     636.0
3              2015-09-01    BNC     623.0
4              2015-12-01    BNC     704.0
...                   ...    ...       ...
1045  2014-12-01 00:00:00  TOTAL      4288
1046  2015-03-01 00:00:00  TOTAL      4311
1047  2015-06-01 00:00:00  TOTAL      4337
1048  2015-09-01 00:00:00  TOTAL      4377
1049  2015-12-01 00:00:00  TOTAL      4521

[2900 rows x 3 columns]

# 3- BALANCE SHEET DATA: importing and cleanning data

In [864]:
def f_balsheet(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,1,1,2,2,3,4,4],index=['dec','déc','dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-4:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])

    # Give names to columns
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            y=[];z=[];
            for i in range(0,(df.shape[0]-1)):
                if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                    y=df.loc[i:(i+1),:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            df.columns=['Indicators']+y[1:]#df_employ.columns[1:].tolist()
            df=df.iloc[z:,:] # begin data frame with row z
            return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=df[df.Indicators=='Dépôts US convertis'].index[0] # finding the index number of row to stop the data frame
    df=df.loc[:endrow_data,:]
    
    return df
f_balsheet1('trim_1_2004.xls')

,index,Indicators,BICH,BNC,BPH,BUH,CAPITALBK,PROMOBK,SOCABK,SOGEBK,...,SOGEBL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,CBNA,SCOTIA,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,TOTAL
0,8,Encaisse,830.8,415902,142480.2,254542.7,157367,108338,417799.1,795096.7,...,31395.5,3104445.7,36487.8,90195,36185,54010,3104445.7,36487.8,90195,3231128.5
1,9,Avoirs à la BRH,721.6,972168,291352.3,406455.5,534199,904725,1008939.4,2820418.3,...,297025.9,10313469.9,333788.2,924472,411037,513435,10313469.9,333788.2,924472,11571730.1
2,10,Avoirs à l'étranger,1050.5,322889,220591.6,123331.7,204308,184392,83172.1,552040.3,...,3606,3131740.4,3606,456896,124071,332825,3131740.4,3606,456896,3592242.4
3,11,Avoirs dans les banques locales,1500,0,0,63049.3,14682,14872,61330.1,52105.8,...,964173.9,304756.1,969033.1,105212,0,105212,304756.1,969033.1,105212,1379001.2
4,12,Autres liquidités,2917.9,163029,44981.4,4706.1,25611,97372,75250,249357.6,...,4437.1,767879,12356.4,105986,81773,24213,767879,12356.4,105986,886221.4
5,13,NaN,7020.8,1873988,699405.5,852085.3,936167,1309699,1646490.7,4469018.7,...,1300638.4,17622291.1,1355271.5,1682761,653066,1029695,17622291.1,1355271.5,1682761,20660323.6
6,15,Bons B.R.H.,0,1500000,70000,295000,110000,0,20000,2005000,...,81000,4845000,81000,44025,4025,40000,4845000,81000,44025,4970025
7,16,Autres Placements,0,225534,126481.1,232743.3,247696,20609,772087.9,2552075.4,...,19666.4,6490519.1,53292.4,0,0,0,6490519.1,53292.4,0,6543811.5
8,17,Portefeuille net,1206.2,598471,454167.1,626598.1,1058941,1540543,2481239.1,4381301,...,619958.1,15077019.9,716698.6,2020225,1317754,702471,15077019.9,716698.6,2020225,17813943.5
9,18,Immobilisations,421.8,230338,63400.3,297595.7,165047,145906,489217.6,546089.1,...,44946,2415463.2,61169.7,88867,37257,51610,2415463.2,61169.7,88867,2565499.9
10,19,Autres actifs,1887.3,40839,12976.7,95008,81208,281232,585402.4,888616.1,...,37496.6,2339126,87735.4,233464,203884,29580,2339126,87735.4,233464,2660325.4
11,20,,10536.1,4469170,1426430.7,2399030.4,2599059,3297989,5994437.7,14842100.3,...,2103705.5,48789419.3,2355167.6,4069342,2215986,1853356,48789419.3,2355167.6,4069342,55213928.9
12,24,À vue,1911.2,734913,435390.7,372291.9,776133,972254,730680.1,4182971.6,...,233508.3,11184714.8,247390.5,1037115,600411,436704,11184714.8,247390.5,1037115,12469220.3
13,25,Épargne,2956.9,1829545,189044.2,1180447.4,570217,853036,1732564.7,5062951.5,...,246514.6,16917698,267816.2,991492,226880,764612,16917698,267816.2,991492,18177006.2
14,26,À terme,0,600285,295161.7,397208.5,774713,930083,2899507.8,4055905.3,...,1202717.8,13952521.4,1362244.5,1017369,574015,443354,13952521.4,1362244.5,1017369,16332134.9
15,27,NaN,4868.1,3164743,919596.6,1949947.8,2121063,2755373,5362752.6,13301828.4,...,1682740.7,42054934.2,1877451.2,3045976,1401306,1644670,42054934.2,1877451.2,3045976,46978361.4
16,30,Banques locales,0,18000,0,30000,65000,0,0,0,...,0,113000,5427.1,416398,416398,0,113000,5427.1,416398,534825.1
17,31,Banques à l'étranger,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,32,Autres,369.4,484492,358009.6,137386.1,127076,125825,308642,322924.6,...,44618.7,2122709.9,61962.3,244077,135419,108658,2122709.9,61962.3,244077,2428749.2
19,33,NaN,369.4,502492,358009.6,167386.1,192076,125825,308642,322924.6,...,44618.7,2235709.9,67389.4,660475,551817,108658,2235709.9,67389.4,660475,2963574.3
20,36,Banques locales,0,0,54710.4,0,0,71500,33626,3000,...,218339.6,162836.4,218339.6,0,0,0,162836.4,218339.6,0,381176
21,37,Banque à l'étranger,0,0,0,0,0,0,0,0,...,0,79961.3,0,0,0,0,79961.3,0,0,79961.3
22,38,Autres,0,267642,25100.4,2813.5,45726,80364,0,136122.9,...,15237.5,700572.2,15237.5,94545,74280,20265,700572.2,15237.5,94545,810354.7
23,39,NaN,0,267642,79810.8,2813.5,45726,151864,33626,139122.9,...,233577.1,943369.9,233577.1,94545,74280,20265,943369.9,233577.1,94545,1271492
24,41,Autres passifs,0,59784,1889.7,196177,48989,93613,0,400022.9,...,962.7,1013079.0,962.7,61525,61450,75,1013079.0,962.7,61525,1075566.7
25,42,NaN,5237.5,3994661,1359306.7,2316324.4,2407854,3126675,5705020.6,14163898.8,...,1961899.2,46247093,2179380.4,3862521,2088853,1773668,46247093,2179380.4,3862521,52288994.4
26,45,Capital versé,5000,25000,5000,36650,88242,61600,181056.1,300000,...,75000,806515.6,122841,94372,60000,34372,806515.6,122841,94372,1023728.6
27,46,Réserves,226.4,59623,2500,34245.1,53992,20613,9479.2,33111.3,...,7477.2,340955.8,7477.2,44777,30000,14777,340955.8,7477.2,44777,393210
28,47,Surplus d'apport,0,0,0,12550.4,-1090,33787,0,286.3,...,0,92212.7,0,15061,0,15061,92212.7,0,15061,107273.7
29,48,BNR,72.2,389886,59624,-739.9,50061,55314,98882.1,344803.9,...,59329.1,1302642.2,45469,52611,37133,15478,1302642.2,45469,52611,1400722.2
30,49,,5298.6,474509,67124,82705.6,191205,171314,289417.4,678201.5,...,141806.3,2542326.3,175787.2,206821,127133,79688,2542326.3,175787.2,206821,2924934.5
31,50,,10536.1,4469170,1426430.7,2399030,2599059,3297989,5994438,14842100.3,...,2103705.5,48789419.3,2355167.6,4069342,2215986,1853356,48789419.3,2355167.6,4069342,55213928.9
32,54,Effets à l'encaissement,0,0,0,691.6,0,1014,0,112170.8,...,0,113977.1,0,33258,33258,0,113977.1,0,33258,147235.1
33,55,Crédit documentaire,0,79123,0,0,0,23098,490458.4,330338.8,...,0,1315148.4,0,237189,146011,91178,1315148.4,0,237189,1552337.4
34,56,Autres,0,3000,38104.6,718424.8,305285,275958,16190.5,258007.4,...,112902.7,1915687.3,112902.7,136968,107509,29459,1915687.3,112902.7,136968,2165558
35,58,Portefeuille brut,1206.2,701061,521877.9,680734.2,1079746,1655212,2600329.8,4597698.6,...,656134.7,15902801.1,757710.2,2134858,1374450,760408,15902801.1,757710.2,2134858,18795369.3
36,59,Provisions pour créances douteuses,0,102590,67710.7,54136.1,20805,114669,119090.7,216397.6,...,36176.6,825781.0,41011.6,114633,56696,57937,825781.0,41011.6,114633,981425.6
37,60,Portefeuille de crédit improductif,0,48883,73587.3,68824,20972,127797,165984,292757,...,84225.1,847943.1,84225.1,209898,49194,160704,847943.1,84225.1,209898,1142066.2
38,66,Dépôts US convertis,0,675999,389359.6,620460.9,1204954,1635243,2772431.8,7339144.7,...,874162.1,21874933.9,1068872.6,1496650,980985,515665,21874933.9,1068872.6,1496650,24440456.5

In [856]:
def f_balsheet(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-2:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
    
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
   
    # Give names to columns
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            y=[];z=[];
            for i in range(0,(df.shape[0]-1)):
                if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                    y=df.loc[i:(i+1),:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            df.columns=['Indicators']+y[1:]#df_employ.columns[1:].tolist()
            df=df.iloc[z:,:] # begin data frame with row z
            return df
    df=col_names(df)
    
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=df[df.Indicators=='Dépôts US convertis'].index[0] # finding the index number of row to stop the data frame
    df=df.loc[:endrow_data,:]
    
    #### Adding a column of date indicating the end of the quarterly ###
    # series to define each quarterly last month
    Sdate=pd.Series([3,6,9,12],index=[2,3,4,1]) # [3,6,9,12] is the list of the number of the last months of the quarterlies
    year_quarter=x.split('.')[0][-4:]
    year_quarter=pd.Series([year_quarter,year_quarter,year_quarter,str(int(year_quarter)-1)],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true1=year_quarter[trim]
    
    date=year_true1+'-'+str(Sdate[trim])+'-'+'01'
    date=datetime.strptime(date,'%Y-%m-%d')
    df['Date']=date
    df.insert(0,'Date',df.pop('Date'))     # relocate "Date" as the first column
    df=df.drop('index',axis=1)# remove column 'index' which we do not need
    df=df.drop('SOUS-TOTAL',axis=1)# remove column 'index' which we do not need
    #df=pd.concat([df['Date'],df.iloc[:,:-1]],axis=1)
    return df

In [863]:
df_try=f_balsheet('trim_2_2001.xls')
#df_try.insert(0,'Date',df_try.pop('Date'))#.tail(5)#.loc[5:5+1,:].values.tolist()[0]
df_try#.columns

,Date,Indicators,BICH,BNC,BPH,BUH,CAPITALBK,PROMOBK,SOCABK,SOGEBK,UNIBNK,BHD,SOGEBL,CBNA,SCOTIA,TOTAL
0,2001-03-01,Encaisse,505.6,319028,90569.6,236276,53850,45784,118733.9,435853.9,182007,4770.5,27939.3,31567,33606,1580490.8
1,2001-03-01,Avoirs à la BRH,1646.5,433531,196136.5,428582.3,324321,372893,775189.6,1334583.2,1287732.6,14052.7,102237.3,482467,357640,6111012.7
2,2001-03-01,Avoirs à l'étranger,598.1,42464,76074,144055.9,223589,351984,76526.1,1093651.2,1071306,11166.2,8412.8,21608,155213,3276648.3
3,2001-03-01,Avoirs dans les banques locales,1500,0,0,34822.5,3061,0,2666.6,3097.1,30934.5,0,220773.2,0,0,296854.9
4,2001-03-01,Autres liquidités,552.4,102938,15158,12169.9,20533,33158,67561.4,144483.8,112778.2,541.3,7219.4,85175,27848,630116.4
5,2001-03-01,NaN,4802.6,897961,377938.1,855906.6,625354,803819,1040677.6,3011669.2,2684758.3,30530.7,366582,620817,574307,11895123.1
6,2001-03-01,Bons B.R.H.,0,722000,45000,20000,20000,0,0,565000,0,0,21000,62799,20000,1475799
7,2001-03-01,Autres Placements,0,210975,33113.2,435227.2,57975,16752,232095.3,283067.2,793575.7,1497.1,28976.4,0,0,2093254.1
8,2001-03-01,Portefeuille net,3514.6,225088,266403.3,659313,605378,869680,1958039,2111557.5,1910337,23383.7,404578,1106984,574858,10719114.1
9,2001-03-01,Immobilisations,333.4,150125,56389.7,178130.9,104592,115219,196446.5,639113.2,271954.4,17025.3,28010.2,23503,9369,1790211.6
10,2001-03-01,Autres actifs,1068.2,31212,38050.5,53084.5,44629,48078,103835.5,94086.1,206205.9,49809.8,12458.6,266714,70546,1019778.1
11,2001-03-01,,9718.8,2237361,816894.8,2201662.2,1457928,1853548,3531093.9,6704493.2,5866831.3,122246.6,861605.2,2080817,1249080,28993280
12,2001-03-01,À vue,622.6,494686,354837.8,318162.1,361110,493523,433536.3,1534994.9,1117531.7,10504,100689.7,345517,216545,5782260.1
13,2001-03-01,Épargne,2977,1143392,172822.6,1066166.3,276226,441721,763736.5,2843881,2245284.3,7681.8,186163.9,361796,533427,10045275.4
14,2001-03-01,À terme,0,150706,100397.8,617527.9,610809,613750,1762649.2,1676020.7,1865527.1,33438.4,480675.8,989043,368818,9269362.9
15,2001-03-01,NaN,3599.6,1788784,628058.2,2001856.3,1248145,1548994,2959922,6054896.6,5228343.1,51624.2,767529.4,1696356,1118790,25096898.4
16,2001-03-01,Banques locales,0,3000,26000,0,15000,0,0,0,0,0,0,95000,0,139000
17,2001-03-01,Banques à l'étranger,0,0,0,0,0,0,0,0,0,840.6,0,0,0,840.6
18,2001-03-01,Autres,186.9,212908,113533.2,80178.9,33306,53949,127625.8,79767.1,130384.4,15716.9,20389.6,136706,52322,1056973.8
19,2001-03-01,NaN,186.9,215908,139533.2,80178.9,48306,53949,127625.8,79767.1,130384.4,16557.5,20389.6,231706,52322,1196814.4
20,2001-03-01,Banques locales,0,0,0,2900.6,0,65464,180000,3000,0,0,0,0,0,251364.6
21,2001-03-01,Banque à l'étranger,0,0,0,0,0,0,43607.9,0,45531.8,0,0,0,0,89139.7
22,2001-03-01,Autres,0,7491,22121.8,2674,23323,45698,0,118015.7,79380.2,1213.6,4204.6,21205,7441,332767.9
23,2001-03-01,NaN,0,7491,22121.8,5574.6,23323,111162,223607.9,121015.7,124912,1213.6,4204.6,21205,7441,673272.2
24,2001-03-01,Autres passifs,0,89887,1961.3,108401.1,12504,8518,23578.3,68541.9,66882.9,39885.5,286.8,0,18837,439283.8
25,2001-03-01,NaN,3786.5,2102070,791674.5,2196010.9,1332278,1722623,3334734.0,6324221.3,5550522.4,109280.8,792410.4,1949267,1197390,27296988
26,2001-03-01,Capital versé,5000,25000,5000,36935.3,89586,50393,154188.9,300000,100000,19792,30000,49828,34373,900096.2
27,2001-03-01,Réserves,201.2,1540,2558.2,1939,15725,7896,4526.8,20320,94396.7,0,8039,16871,5179,179191.9
28,2001-03-01,Surplus d'apport,0,0,0,12323.1,728,27035,143.3,286.2,11786.3,0,0,10172,11054,73527.9
29,2001-03-01,BNR,731.1,108751,17662.1,-45546.1,19611,45601,37500.9,59665.7,110125.9,-6826.2,31155.8,54679,1084,434195.2
30,2001-03-01,,5932.3,135291,25220.3,5651.3,125650,130925,196359.9,380271.9,316308.9,12965.8,69194.8,131550,51690,1587011.2
31,2001-03-01,,9718.8,2237361,816894.8,2201662.2,1457928,1853548,3531093.9,6704493.2,5866831.3,122246.6,861605.2,2080817,1249080,28993280.0
32,2001-03-01,Effets à l'encaissement,0,0,0,0,0,1252,0,4865.2,2500.7,0,0,6651,0,15268.9
33,2001-03-01,Crédit documentaire,0,0,0,0,0,4425,38418.5,107059.6,250977.4,0,0,87894,0,488774.5
34,2001-03-01,Autres,0,0,25227.7,18432.4,60134,112619,57517.5,229685.5,240479.6,0,19404.8,110773,33229,907502.5
35,2001-03-01,Portefeuille brut,3514.6,357186,311361,707227.7,619378,927906,2024781,2219711.3,1967898.2,23497.9,418861.3,1147057,617127,11345507.0
36,2001-03-01,Provisions pour créances douteuses,0,132098,44957.7,47914.7,14000,58226,66742,108153.8,57561.2,114.1,14283.4,40073,42269,626392.9
37,2001-03-01,Portefeuille de crédit improductif,0,194293,92131.1,75156,13036,80478.7,95545,130274,30796.9,0,24371.4,49595,96809,882486.1
38,2001-03-01,NaN,4294.1,1383412.1,350531.6,1042144.1,232377.04,681729.2,303485.1,1690133.5,819036.5,0,267070.8,372517.7,596702.7,7743434.44
39,2001-03-01,Dépôts US convertis,0,145836,146400.2,518695.6,595923,726773,1352647.8,2358269.7,2720659.9,41446.5,390660,980864,188333,10166508.7

In [847]:
df_try[df_try.columns[df_try.columns!='index'].values]

,Date,Indicators,BNC,BPH,BUH,CAPITALBK,SOGEBK,UNIBNK,SOUS-TOTAL,SOUS-TOTAL,...,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SYSTÈME
0,2014-12-01,Encaisse,4685005.683,158344.90801,381812.966874,379216,2519896.56648,1592760.338062,9717036.462426,30925.8946,...,9717036.462426,30925.8946,184591,9717036.462426,30925.8946,184591,9717036.462426,30925.8946,184591,9932553.357026
1,2014-12-01,Avoirs à la BRH,10240683.537,1474128.99155,1949652.441575,3669089,13434681.62964,16594407.768534,47362643.3683,583519.22312,...,47362643.3683,583519.22312,5623971,47362643.3683,583519.22312,5623971,47362643.3683,583519.22312,5623971,53570133.59142
2,2014-12-01,Avoirs à l'étranger,459217.159,58764.29432,189898.524237,699005,660482.48954,1379362.454805,3446729.921902,10976.94524,...,3446729.921902,10976.94524,1313907,3446729.921902,10976.94524,1313907,3446729.921902,10976.94524,1313907,4771613.867142
3,2014-12-01,Avoirs dans les banques locales,0,0,176205.182736,33668,28433.64485,342.335654,238649.16324,1715543.71515,...,238649.16324,1715543.71515,0,238649.16324,1715543.71515,0,238649.16324,1715543.71515,0,1954192.87839
4,2014-12-01,Autres liquidités,193459.598,28204.02236,308.828,120729,53365.67302,514388.257747,910455.379127,15550.34153,...,910455.379127,15550.34153,149721,910455.379127,15550.34153,149721,910455.379127,15550.34153,149721,1075726.720657
5,2014-12-01,NaN,15578365.977,1719442.21624,2697877.943422,4901707,16696860.00353,20081261.154803,61675514.294994,2356516.11964,...,61675514.294994,2356516.11964,7272190,61675514.294994,2356516.11964,7272190,61675514.294994,2356516.11964,7272190,71304220.414634
6,2014-12-01,Bons B.R.H.,3810000,223000,180000,298391,1300000,0,5811391,0,...,5811391,0,796833,5811391,0,796833,5811391,0,796833,6608224
7,2014-12-01,Bons du Trésor / M.E.F.,2875000,0,0,0,0,0,2875000,0,...,2875000,0,0,2875000,0,0,2875000,0,0,2875000
8,2014-12-01,Autres Placements,6804854.01974,66410.10613,134723.547173,714956,11372717.66967,12545779.20253,31639440.545244,55612.46503,...,31639440.545244,55612.46503,0,31639440.545244,55612.46503,0,31639440.545244,55612.46503,0,31695053.010274
9,2014-12-01,Portefeuille net,10524694.18637,858993.53526,2291639.384839,5637972,19215072.52599,24056419.86524,62584791.497699,3345304.258156,...,62584791.497699,3345304.258156,3862493,62584791.497699,3345304.258156,3862493,62584791.497699,3345304.258156,3862493,69792588.755856
10,2014-12-01,Immobilisations,1371154.9585,305443.18224,280545.037,293320,2115040.96052,1437499.77393,5803003.91219,210745.71996,...,5803003.91219,210745.71996,422066,5803003.91219,210745.71996,422066,5803003.91219,210745.71996,422066,6435815.63215
11,2014-12-01,Autres actifs,1923646.83646,25590.26461,48894.990172,469294,2406305.51709,930133.047842,5803864.656174,145725.66902,...,5803864.656174,145725.66902,140228,5803864.656174,145725.66902,140228,5803864.656174,145725.66902,140228,6089818.325194
12,2014-12-01,,42887715.97807,3198879.30448,5633680.902607,12315640,53105996.6768,59051093.044344,176193005.906301,6113904.231806,...,176193005.906301,6113904.231806,12493810,176193005.906301,6113904.231806,12493810,176193005.906301,6113904.231806,12493810,194800720.138107
13,2014-12-01,PASSIF,,,NaN,,,NaN,,NaN,...,,NaN,NaN,,NaN,NaN,,NaN,NaN,
14,2014-12-01,À vue,20074139.49665,1426485.50697,1619897.16172,5535253,14786946.01636,22792767.486483,66235488.668183,1083757.22143,...,66235488.668183,1083757.22143,7123713,66235488.668183,1083757.22143,7123713,66235488.668183,1083757.22143,7123713,74442958.889613
15,2014-12-01,Épargne,9826355.45261,579932.58106,1841834.301184,2676583,18578344.72994,20288168.454901,53791218.519695,508819.4387,...,53791218.519695,508819.4387,1983867,53791218.519695,508819.4387,1983867,53791218.519695,508819.4387,1983867,56283904.958395
16,2014-12-01,À terme,3975505.82211,871487.54196,1237077.910192,2207658,9479328.16206,6403840.141492,24174897.577814,2952640.39534,...,24174897.577814,2952640.39534,706694,24174897.577814,2952640.39534,706694,24174897.577814,2952640.39534,706694,27834231.973154
17,2014-12-01,NaN,33876000.77137,2877905.62999,4698809.373096,10419494,42844618.90836,49484776.082876,144201604.765692,4545217.05547,...,144201604.765692,4545217.05547,9814274,144201604.765692,4545217.05547,9814274,144201604.765692,4545217.05547,9814274,158561095.821162
18,2014-12-01,Banques locales,0,0,0,0,0,0,0,0,...,0,0,300000,0,0,300000,0,0,300000,300000
19,2014-12-01,Banques à l'étranger,0,0,0,0,0,0,0,0,...,0,0,140243,0,0,140243,0,0,140243,140243
20,2014-12-01,Autres,1603464.97673,180382.068251,242476.060946,334252,1500006.6468,2209055.480447,6069637.233175,87823.308,...,6069637.233175,87823.308,936407,6069637.233175,87823.308,936407,6069637.233175,87823.308,936407,7093867.541175
21,2014-12-01,NaN,1603464.97673,180382.068251,242476.060946,334252,1500006.6468,2209055.480447,6069637.233175,87823.308,...,6069637.233175,87823.308,1376650,6069637.233175,87823.308,1376650,6069637.233175,87823.308,1376650,7534110.541175
22,2014-12-01,Banques locales,3000,7132.5,200000,0,0,0,210132.5,855000,...,210132.5,855000,0,210132.5,855000,0,210132.5,855000,0,1065132.5
23,2014-12-01,Banque à l'étranger,0,0,0,0,2467523.49769,607720.1,3075243.59769,0,...,3075243.59769,0,0,3075243.59769,0,0,3075243.59769,0,0,3075243.59769
24,2014-12-01,Autres,3357144.62518,4534.22936,1670.05275,60293,517789.09642,448356.151043,4389787.154753,63772.70147,...,4389787.154753,63772.70147,154538,4389787.154753,63772.70147,154538,4389787.154753,63772.70147,154538,4608097.856223
25,2014-12-01,NaN,3360144.62518,11666.72936,201670.05275,60293,2985312.59411,1056076.251043,7675163.252443,918772.70147,...,7675163.252443,918772.70147,154538,7675163.252443,918772.70147,154538,7675163.252443,918772.70147,154538,8748473.953913
26,2014-12-01,Autres passifs,856742.446,1162.39207,208053.944155,427259,1894965.98644,503987.095495,3892170.86416,68401.41639,...,3892170.86416,68401.41639,485414,3892170.86416,68401.41639,485414,3892170.86416,68401.41639,485414,4445986.28055
27,2014-12-01,NaN,39696352.81928,3071116.819671,5351009.430947,11241298,49224904.13571,53253894.909861,161838576.115469,5620214.48133,...,161838576.115469,5620214.48133,11830876,161838576.115469,5620214.48133,11830876,161838576.115469,5620214.48133,11830876,179289666.596799
28,2014-12-01,Capital versé,1500000,165000,448651,270000,1200000,2092652,5676303,150000,...,5676303,150000,198210,5676303,150000,198210,5676303,150000,198210,6024513
29,2014-12-01,Réserves,327016.25258,87983,33754.82076,206958,1221203.99306,867190.37238,2744106.43878,166509.38644,...,2744106.43878,166509.38644,142532,2744106.43878,166509.38644,142532,2744106.43878,166509.38644,142532,3053147.82522
30,2014-12-01,Surplus d'apport,0,14325,93847.20015,1384,98479.45517,0,208035.65532,0,...,208035.65532,0,0,208035.65532,0,0,208035.65532,0,0,208035.65532
31,2014-12-01,BNR,1364346.90517,-139545.51523,-293581.54925,596000,1361409.09286,2837355.75989,5725984.69344,177180.36401,...,5725984.69344,177180.36401,322192,5725984.69344,177180.36401,322192,5725984.69344,177180.36401,322192,6225357.05745
32,2014-12-01,,3191363.15775,127762.48477,282671.47166,1074342,3881092.54109,5797198.13227,14354429.78754,493689.75045,...,14354429.78754,493689.75045,662934,14354429.78754,493689.75045,662934,14354429.78754,493689.75045,662934,15511053.53799
33,2014-12-01,,42887715.97703,3198879.304441,5633680.902607,12315640,53105996.6768,59051093.042131,176193005.903009,6113904.23178,...,176193005.903009,6113904.23178,12493810,176193005.903009,6113904.23178,12493810,176193005.903009,6113904.23178,12493810,194800720.134789
34,2014-12-01,Effets à l'encaissement,0,0,0,0,67323.02319,306.859376,67629.882566,0,...,67629.882566,0,0,67629.882566,0,0,67629.882566,0,0,67629.882566
35,2014-12-01,Crédit documentaire,140243.1,0,0,0,653311.53195,740498.058385,1534052.690335,0,...,1534052.690335,0,192477.90849,1534052.690335,0,192477.90849,1534052.690335,0,192477.90849,1726530.598825
36,2014-12-01,Autres,290995.486,246480.986181,150,144186,3428832.83033,1098798.023119,5209443.32563,633300.959257,...,5209443.32563,633300.959257,7322345.35227,5209443.32563,633300.959257,7322345.35227,5209443.32563,633300.959257,7322345.35227,13165089.637157
37,2014-12-01,Portefeuille brut,10813284.87502,1281422.89417,2322919.149911,5676483,19826802.61067,24187118.40039,64108030.930161,3411437.504776,...,64108030.930161,3411437.504776,3943408,64108030.930161,3411437.504776,3943408,64108030.930161,3411437.504776,3943408,71462876.434937
38,2014-12-01,Provisions pour créances douteuses,288590.68865,422429.35891,31279.765072,38511,611730.08468,130698.53515,1523239.432462,66133.24662,...,1523239.432462,66133.24662,80915,1523239.432462,66133.24662,80915,1523239.432462,66133.24662,80915,1670287.679082
39,2014-12-01,Portefeuille de crédit improductif,538835.47,540118.523078,67538,74112,1303019,51853.02561,2575476.018688,326413.32256,...,2575476.018688,326413.32256,141431,2575476.018688,326413.32256,141431,2575476.018688,326413.32256,141431,3043320.341248
40,2014-12-01,Dépôts US convertis,14356274.52931,1895744.64459,2497761.247506,6623756,25516968.38644,30680322.285386,81570827.093232,3332456.93534,...,81570827.093232,3332456.93534,4745485,81570827.093232,3332456.93534,4745485,81570827.093232,3332456.93534,4745485,89648769.028572

In [586]:
zo=pd.Series([3,6,9,12],index=[2,3,4,1])
'2015'+'-'+str(zo[1])+'-'+'01'

'2015-12-01'

In [593]:
datetime.strptime('2015-3-01','%Y-%m-%d')

datetime.datetime(2015, 3, 1, 0, 0)